[2014-06-25 09:34] rproepp opened #4 "Target Neo version"
@toddrjen raised the question in his comments to #2, I'm creating a new issue to make it more visible: Should elephant target currently available Neo versions (0.3.x) or the next, API breaking version (0.4.0)?

Personally, I share Todd's opinion and would directly go with 0.4 compatibility. elephant probably won't be ready for release for a while and would need to be changed as soon as Neo 0.4 com

[2014-06-26 21:18] toddrjen opened #6 "Handling of units"
The current `isi` function has a `units` argument.  I am wondering if this is really appropriate.

I think modifying the units is probably outside the scope of this sort of function.  If someone wants to add or change units, they can do that easily on their own with the returned value or before providing a value.  So perhaps this should be left off, and the units are just the units of the input, i

[2014-06-30 07:50] apdavison opened #8 "Aliases for commonly-used functions from other scientific Python packages"
There are many Python packages dealing with time series analysis, which provide functions that may be of use to neuroscientists.

For an individual user, finding and identifying the functions of interest among multiple packages will be difficult. Furthermore, some (most) of these functions will not handle Neo objects or even units.

For functions which need to be adapted to handle Neo objects/unit

[2014-07-09 15:42] #4 closed, assigned to nobody

[2014-07-10 10:41] toddrjen opened #10 "Dependency versions"
Our minimum version requirements include numpy 1.5.0 and scipy 0.9.0.  However, our Ubuntu tests only test the latest version of all packages, and the miniconda tests only support numpy >= 1.6.2 and scipy >= 0.11.0.

I am a bit uncomfortable listing dependencies that our tests cannot verify work properly.  Installing either numpy or scipy (not to mention both) manually in travis takes forever, so

[2014-07-10 10:50] #6 closed, assigned to nobody

[2014-08-06 16:08] rproepp opened #12 "Metadata for results"
I think this warrants its own issue:

@toddrjen wrote in #11:

I think this verges into overkill territory :-) For most results (like the average rate of a spike train), the caller knows exactly from what object the result has been calculated. The caller also knows if and what metadata is needed, while our analysis function doesn't, so I would leave the responsibility upstream.

However, there mig

[2015-06-09 16:12] alperyeg opened #33 "CI Tests fail"
When doing the PR in https://github.com/NeuralEnsemble/elephant/pull/32 I noticed the nosetests performed by Travis CI fail, with following error:
[code]

I checked and saw that this issue is related to the `test_pandas_bridge.py` unittest. It seems that the `panda` version specified in the install script has problems with the newest `numpy` library or vice versa.
However after trying locally with

[2015-06-10 13:04] alperyeg commented on #33
@toddrjen any clues on this?

[2015-06-11 14:52] etorre opened #35 "sskernel() routine for optimal kernel bandwidth BUGGY"
The routine sskernel() works (implicitly! bad) only for gaussian kernel. Besides, when generating kernels it wrongly sets the kernel sigma (which for gaussian is ~bandwidth/5.5) to the kernel bandwidth and therefore effectively generates kernels which are 5.4 times larger than they should

[2015-06-11 16:16] alperyeg commented on #35
Yes it only works for Gaussian kernels, that should be stated in the documentation.
@rmeyes can you look into this issue?

[2015-06-16 14:41] SepehrMN opened #38 "Website hyperlink problem"
The hyperlink in "Stochastic spike train generation" in [http://elephant.readthedocs.org/en/latest/reference/spike_triggered_average.html] links to the wrong page.

[2015-06-17 10:15] alperyeg commented on #38
Closed with merge https://github.com/NeuralEnsemble/elephant/pull/37

[2015-06-17 10:15] #38 closed

[2015-06-17 10:31] btel opened #41 "ENH: integrate automated benchmarking tool"
`pandas` uses `vbench` to run benchmarks on each new version of code. This way all possible "performance regressions" are early detected. Something similar could be useful for elephant.

More information:

(peformance testing in pandas)[ https://github.com/pydata/pandas/wiki/Performance-Testing]
(vbench)[https://github.com/pydata/vbench] python tool pandas uses to run the benchmarks

[2015-06-23 23:40] rgerkin opened #43 "Extract SpikeTrain from AnalogSignal"
@apdavison Is there a function for this yet?  I didn't see it in a brief search.  If not let me know if I should just contribute the old AnalogSignal.threshold_detection code from NeuroTools, and if so to what module (maybe a new module for AnalogSignal manipulations, which could subsume sta.py since it currently only has one function).

[2015-06-24 07:19] apdavison commented on #43
No, there isn't a function for this yet; I'd be happy for you to adapt the code from NeuroTools. Not sure about the module. Maybe `spike_train_generation`?

In general, I'm not too worried at the moment about module naming, and where certain functions should go; I think this is a discussion to have once we have a larger number of functions implemented. At that point we can move things around.

[2015-06-24 07:30] samuelgarcia commented on #43
You can also take code from
https://github.com/OpenElectrophy/OpenElectrophy/tree/master/OpenElectrophy/spikesorting/detection
to port it to elephant.
There are several detection methods there.

[2015-06-24 07:52] apdavison commented on #43
Excellent idea @samuelgarcia

[2015-06-24 08:33] apdavison commented on #43
On looking at this a second time, are your modules for extracting spikes from extracellular recordings, @samuelgarcia ? I think @rgerkin is talking about the easier task of extracting spikes from intracellular recordings; perhaps we should provide both, although I'm not sure Elephant should tackle issues related to spike sorting, as there are already Python packages for that.

[2015-06-24 08:38] samuelgarcia commented on #43
Intracellular spike detection is the most simple case of extra cellular spike detection : one electrode + absolut threshold.
The are two algo implemented about that in OpenElectrophy : one with threshold detection and one with peak detection above a threshold. Both are implemented in numpy style or numepxr.
See
https://github.com/OpenElectrophy/OpenElectrophy/blob/master/OpenElectrophy/spikesortin

[2015-06-24 08:39] toddrjen commented on #43
@apdavison Yes, it seems like spike sorting is a big enough issue on its own to be outside the scope of elephant.  Having it work well with spike sorters makes sense, but I don't think spike sorting itself belongs in elephant.

[2015-06-24 08:44] mdenker commented on #43
Yes, I agree, at least for now spike sorting is too big a topic for Elephant, in particular since spike sorting is also something that profits a lot from visualization.

[2015-06-24 09:14] dholstein opened #44 "Duplicate code in function instantaneous_rate"
@rmeyes  In function instantaneous_rate in module statistics.py:
if acausal: do A ; else: do B.  But seems A==B, so why ask for 'acausal' there?

[2015-06-24 23:18] rgerkin commented on #43
@apdavison @samuelgarcia OK, I think I will just take it from NeuroTools to keep it simple.  And I will put it in `spike_train_generation` and update that module's docstring.  The OpenElectrophy version looks more powerful but there are more decisions to make if we want to use it.  For example, to avoid duplication would OpenElectrophy ever import elephant if some of the most basic single channel

[2015-07-02 02:38] rgerkin commented on #43
I finished it and submitted the pull request, but Travis is failing at the virtualenv activation stage (before it gets anywhere near my code). @apdavison Any idea what's happening here?

[2015-07-02 08:16] alperyeg commented on #43
@rgerkin the errors are partially a Travis problem, it can't initiate the virtual environment. After restarting the  jobs those errors will disappear in most of the cases (but can appear for certain builds again).
But at the moment one of our unittests are broken, because of different library versions. I suggested a quick fix in a pull request (https://github.com/NeuralEnsemble/elephant/pull/46).

[2015-07-02 15:10] rgerkin commented on #43
@alperyeg OK, thanks. I'll keep an eye on it.

[2015-07-04 12:18] apdavison commented on #33
fixed by #46

[2015-07-04 12:18] #33 closed

[2015-07-23 09:17] rmeyes commented on #35
The bug is fixed and a pull request is issued.

[2015-08-04 12:17] #35 closed

[2015-08-04 12:23] etorre commented on #44
Hi Richard. I checked and you are right, it seems redundant. Maybe the original implementation meant something else?
I also noticed that at the beginning of the routine, if sigma == 'auto', the sskernel() routine is summoned with bootstrap=True. But the confidence intervals calculated for bootstrap=True are not used, so we should set it to False. This makes the calculation faster.
        kernel_w

[2015-08-31 15:14] alperyeg commented on #10
@apdavison perhaps Numpy 1.9 is downloaded because in the requirements it is stated that the version should be higher than 1.6.2. So if Elephant is installed per pip e.g. in a virtualenv numpy 1.9 will be automatically downloaded and installed.

[2015-08-31 15:40] apdavison commented on #10
@alperyeg That's not how I interpreted the message. He stated that he "needed" to install 1.9, which suggests to me that he already had an earlier version installed, and it didn't work. I guess I should follow up to find out which earlier version he tried and what the error message was.

[2015-09-24 08:51] tompfeil opened #53 "Data conversion - BinnedSpikeTrain - fails"
The following example in the elephant documentation fails:

    import elephant.conversion as conv
    import neo as n
    import quantities as pq
    st = n.SpikeTrain([0.5, 0.7, 1.2, 3.1, 4.3, 5.5, 6.7] * pq.s, t_stop=10.0 * pq.s)
    x = conv.BinnedSpikeTrain(st, num_bins=10, binsize=1 * pq.s, t_start=0 * pq.s)
    print(x.spike_indices)
    print(x.to_sparse_array().nonzero()[1])

Using latest

[2015-09-24 10:08] alperyeg commented on #53
Which version of numpy do you use? Can you try to upgrade numpy to a version >= 1.9.0  and see if the error still exists?

[2015-09-25 00:42] rgerkin opened #54 "Fix threshold_detection to handle signals with no spikes"
If there are no spikes (no threshold crossing), `threshold_detection` returns a SpikeTrain that had undefined length, rather than length zero.

See [here](https://gist.github.com/rgerkin/54aad46550c102b758bc)

I can fix this easily, but first I'm wondering if there is an upstream fix in Neo to disallow this kind of `SpikeTrain` (i.e. there appear to be two ways to generate a `SpikeTrain` with zero

[2015-09-25 00:42] rgerkin commented on #43
Working except for #54.

[2015-09-25 00:42] #43 closed

[2015-09-25 15:49] tompfeil commented on #53
This solves the problem, thanks!

[2015-09-25 15:49] #53 closed

[2015-10-12 08:46] apdavison commented on #54
Neo should catch this. I've created a ticket in the Neo issue tracker: https://github.com/NeuralEnsemble/python-neo/issues/217

[2015-10-21 08:44] alperyeg commented on #54
@rgerkin funny times with travis ci start again. Maybe the following error is linked to this issue here.
Can you check `TypeError: len() of unsized object` which appears in `test/test_spike_train_generation.py", line 54, in test_threshold_detection`.
So far I could see the error occurs with python3.4 but not python2.7, conda build.
But it worked before right?

Here is the travis log:
https://travi

[2015-10-21 17:40] rgerkin commented on #54
@alperyeg There's at least two problems here.  One is the unsized spike train problem (which needs to be fixed in Neo, and caught in Elephant until then).  The other is that the unsized spike train usually means a zero-length spike train, which means the test will fail even when it is fixed, since the true spike train has 7 spikes in this test.  I'll look into this.

[2015-10-21 23:11] rgerkin commented on #54
@alperyeg @apdavison OK, this is weird.  In trying to debug the issue, Travis is now failing to load numpy in Python 3.4.  It can't have anything to do with my changes, which are too cosmetic.

https://travis-ci.org/neuroelectro/elephant
https://travis-ci.org/neuroelectro/elephant/jobs/86729943

Is this one of those things where I just run it again tomorrow and it works?

[2015-10-22 07:46] alperyeg commented on #54
@rgerkin unfortunately not. This error appears with python3 and the latest version of numpy (v1.10.0) and quantities. I could run the `test_spiketrain_generation` module without errors if I changed line 56
[code]
to
[code]
That worked for me, can you test it out? But be aware that travis fails again, other test are also breaking, because of numpy, quantities (and python3).

[2015-10-22 15:10] alperyeg commented on #54
I run some other tests, I even installed the same conda build (python3, numpy 1.8.1, scipy 0.14.0) on our cluster and run the test again, everything worked. But on travis the same error `len() of unsized object`  appears again.
I guess it is really something simple, but it is again hard to figure out.

[2015-10-22 19:11] rgerkin commented on #54
@alperyeg OK, I added exception handling for older versions of numpy that don't have `np.allclose`.  But I am still getting the `numpy` import error in Travis for every Python 3 build.  Since the code works for both of us using Python 3 (and I don't even get the original Travis error with the empty spike train with my Python 3, nor do any of the Python 2 builds on Travis), I think we can chalk rem

[2015-10-22 19:42] alperyeg commented on #54
There are some things I tried so far. I believe it is a build problem. I do not know why it appears now and not before, but the error comes when using the conda build with numpy 1.8.1, scipy 0.14.0 and python 3. The libfortran type error can be side stepped if we include `conda install libgfortran` in the install script.
After doing this I could get an error that the spike train is a nan.

Here is

[2015-10-22 20:22] rgerkin commented on #54
I made those changes (also you misspelled fortran as fortan in .travis.yml, so I fixed that).  It works, so I'm addressing the spike train error now.

[2015-10-22 20:56] rgerkin commented on #54
@alperyeg
OK, so here is the problem:  In my current code (in `test_threshold_detection`) I have:
[code]

In the Python 2 and 3 builds, the events length is 7 (i.e. spikes are extracted correctly) and the times are the same (both print `[ 0.0123  0.0354  0.0712  0.1191  0.1694  0.22    0.2711] s`).  But for some reason in Python 3 the `events.base` attribute is `None`, whereas in Python 2 it is ju

[2015-10-22 22:13] rgerkin commented on #54
@alperyeg @apdavison OK, the issue is fixed completely on [my fork](https://travis-ci.org/neuroelectro/elephant).  Remaining Python 3 errors are on unrelated tests.

The `base` attribute wasn't working with `quantities` arrays, but I just reconstructed the array like so:
`events_base = np.array([event.base for event in events])` instead of the simpler `events_base = events.base` which wasn't worki

[2015-10-23 08:26] alperyeg commented on #54
@rgerkin I tried your changes and it works fine now with my changes included. All builds except the last run through. Very nice.
Now to the next issue :)

[2015-10-23 12:39] alperyeg commented on #54
@rgerkin can you make a pull request with your changes incorporated?

[2015-10-23 21:45] rgerkin commented on #54
@alperyeg OK, it's there.

[2016-01-14 15:52] apdavison opened #66 "Create conda package"
and put on binstar

[2016-01-15 14:34] alperyeg commented on #54
@rgerkin is the problem solved now? If yes can you or shall I close this issue?

[2016-01-17 18:37] rgerkin commented on #54
@alperyeg I believe so.

[2016-01-17 18:37] #54 closed

[2016-02-15 20:27] apdavison opened #70 "NumPy/SciPy versions installed in Travis are not always as requested"
For some of the entries in the Travis matrix, the versions of `numpy` and `scipy` that end up being installed are not the same as the versions requested by the environment variables in `.travis.yml`

e.g.:

`DISTRIB="ubuntu"`: `NUMPY_VERSION="1.6.2" PANDAS_VERSION="0.16.0"`

What ends up being installed is `numpy 1.10.4`, `scipy 0.17.0`. The later version of Numpy is being pulled in by Pandas, Sci

[2016-02-22 16:43] alperyeg commented on #70
@apdavison can we close the issue?

[2016-02-22 16:45] #70 closed

[2016-03-23 12:46] alperyeg opened #81 "tstart > tstop in homogenous poisson process"
[code]

If `t_start` is greater than `t_stop` no error is thrown. This happens when the rate is a small value. I think in that situation it should throw an error.
The problem can be related to `neo.SpikeTrain` and occurs if there is an empty list, e.g.,

[code]

[2016-03-29 09:40] alperyeg commented on #66
called now [anaconda.org](http://anaconda.org)
docs are [here](http://conda.pydata.org/docs/build_tutorials/pkgs.html) and [here](http://docs.anaconda.org/using.html#Packages).

[2016-04-13 08:24] mdenker opened #88 "ASSET conditional import and read the docs"
The import of sklearn breaks the readthedoc build for the asset.py page.

Probably we should import using something like

[code]

to circumvent the problem.

[2016-04-13 08:41] apdavison commented on #88
Or we could add sklearn to `environment.yml`

[2016-04-13 11:29] mdenker commented on #88
Good point, that's easier -- I'll integrate it later and update the repo.

[2016-04-15 08:35] #88 closed

[2016-04-22 12:55] danielmuellernai opened #89 "Implementing waveform extraction"
Hello Neuronal Ensemble,

I've been working on a function that takes an AnalogSignal as input, finds spikes by threshold and returns a SpikeTrain object of the spike peaks. I also want to extract the waveforms of each spike in an interval around the peak but I am confused about the usage of SpikeTrain.waveforms.
By the neo doc: waveforms: (quantity array 3D (spike, channel_index, time)) The wavefo

[2016-04-25 20:13] rgerkin commented on #89
Shouldn't `time` be a range of time relative to the location of the spike in the train?

[2016-04-26 14:07] apdavison commented on #89
I think this is best answered by @samuelgarcia, but my understanding is that you are correct. The reason for it being 3D is that with multielectrode recordings it is possible to have a spike recorded on more than one channel, but in the case of intracellular recordings or simulations there will only ever be a single channel.

[2016-04-26 14:56] danielmuellernai commented on #89
That is a good hint, @apdavison, I did not consider that multielectrode recordings can contain the same spike in different channels.
@rgerkin, `time` is a time range in my implementation. Specifically, each element of `time` is a sampling point of the waveform.

[2016-05-02 16:36] btel opened #90 "Error on accessing `bin_edges` of `BinnedSpikeTrain`"
When trying to access the `bin_edges` property of `BinnedSpikeTrain` object the following error occurs:

[code]

The error can be reproduced with the following script:

[code]

It appears in python 3.44, with master branch of Elephant and neo, quantities 0.11.1 and numpy 1.11.0 (I think it does not occur with earlier version of numpy).

The problem is with the following with [conversions.py:L584](

[2016-05-03 09:44] alperyeg commented on #90
Thank you @btel I am creating a new pull request fixing this issue.

[2016-05-03 12:44] alperyeg commented on #44
@dholstein is this issue still actual with your newest implementation of `instantaneous_rate`?

[2016-05-04 16:17] dholstein commented on #44
This point was addressed in the newer implementation of instantaneous_rate. So this issue will be closed.

[2016-05-04 16:17] #44 closed

[2016-07-01 14:55] #90 closed

[2016-07-04 12:19] alperyeg commented on #66
For testing purposes I made an anaconda package for elephant. Have a look here:
https://anaconda.org/Alper/elephant

[2016-11-16 10:46] gulpgiulia opened #96 "spike_train_generation - VisibleDeprecationWarning"
Very very minor issue (it is only a warning, and I have checked on the web, it seems no serious and related to numpy... but maybe you want to check it, in order to have a "clean" output). I have followed the tutorial step-by-step (http://elephant.readthedocs.io/en/latest/tutorial.html)
[about this, excellent tutorial! very clear and well done. A suggestion: you can add a reference, for instance: P

[2016-11-16 16:10] alperyeg commented on #96
@gulpgiulia. I am happy to hear that you liked the tutorials. If you want to see a longer tutorial, here is one me and colleagues of mine gave last year in Manchester while the code jam (https://github.com/INM-6/elephant-cs16/blob/master/notebooks/neo_elephant.v3.ipynb)

Regarding the problem, that's not a big issue. What happens is that one of the parameters of `numpy.random.exponential` or `nump

[2016-11-30 15:29] #96 closed

[2017-04-06 08:19] alperyeg opened #103 "Documentation for csd modules missing"
Looking at the documentation on `read the docs` I couldn't see a link to the csd modules.

[2017-05-15 13:34] grg2rsr opened #107 "alpha kernel is not starting at zero"
Contrary to the definition in the docs, the alpha kernel does not start with non-negative values only after `t = 0` in elephant `0.4.1`.

to demonstrate

[code]
produces
![alpha_kernel_offset](https://cloud.githubusercontent.com/assets/9695626/26059356/ca6664f8-3981-11e7-93a4-359e724de6a3.png)

edit: which is almost the median (not exactly probably the kernel never decays back to zero). I looked a

[2017-05-16 08:30] grg2rsr commented on #107
found in `statistics.instantaneous_rate()` line 757

[code]
what is the reason for this line?

[2017-05-16 14:27] mdenker commented on #107
This is an interesting use of instantaneous_rate with a non-symmetric kernel that I had not thought of. Indeed, this plot looks a bit strange at first. As you point out, the asymmetric kernel itself is not centered, but is 0 for x<0, and the centering is only performed by the `instantaneous rate` function. I assume the reason for centering the kernel on the mean is to have equal weight of the spik

[2017-05-16 15:22] grg2rsr commented on #107
No not really, just normal firing rate estimation, but I chose an asymmetric kernel starting at `t=0` to avoid a rise in firing rate before the response onset, so to say to avoid 'looking into the future' from the perspective of the neuron.
I think a `center=True` keyword makes sense to have, as the kernel itself was as I expected, but the output of the function was not. An extra function would no

[2017-05-16 16:59] mdenker commented on #107
Ah, ok, now I get it. I have created a branch with a potential fix at
https://github.com/INM-6/elephant/tree/feature/non-symmetric_instantaneous_rate

I think that this works correctly for all combinations of True/False for `trim` and the new option `center_kernel` using a modified version of your example:

[code]

Could you please have a look if this addresses your issue? If so, I would PR this t

[2017-05-19 10:11] grg2rsr commented on #107
This looks fine. Thank you very much!

[2017-07-07 10:28] #89 closed

[2017-07-25 15:54] alperyeg opened #112 "Discussion: new matrix enviorment in the setup script to test for mpi and/or c"
I would like to discuss if we should provide a new environment in the install script to test for `mpi` and or `c` based code. This issue is connected to PR https://github.com/NeuralEnsemble/elephant/pull/110 since the `SPADE` uses a pre-compiled `c` file (which also has to be downloaded) `.so` and `mpi4py`.

My suggestion would be to add a new matrix environment in `install.sh` and in the correspo

[2017-10-07 15:39] alperyeg opened #114 "Unittests do not run through"
Somehow when running the tests of the [ubuntu environment](https://travis-ci.org/NeuralEnsemble/elephant/jobs/284302015#L1179) via travis, the unittests get stuck and do not run to the end. Travis stops at some point the build due to no response. On my laptop I could investigate that the CSD tests take a lot of time but not more than 10 minutes. On my own branch I even put a `travis_wait` command

[2017-10-09 09:15] pietroquaglio opened #115 "lv() and cv2() raising an error for too short spike trains"
Currently the functions lv() and cv2() in statistics raise an error if the spike trains in input has less three spikes. It might be preferable to replace this with a warning message and returning NaN or None instead (suggested in #108 ). For example this avoids to break for loops over list of spike trains.

[2017-10-10 13:32] lungsi opened #116 "ISI function ValueError"
**Given spikes**
`>>> spikes
<SpikeTrain(array([  503.8  ,   520.05 ,   536.325,   552.625,   568.925,   585.225,
         601.575,   617.95 ,   634.325,   650.725,   667.15 ,   683.575,
         700.05 ,   716.525,   733.025,   749.55 ,   766.075,   782.625,
         799.175,   815.75 ,   832.35 ,   848.95 ,   865.575,   882.225,
         898.9  ,   915.575,   932.275,   949.   ,   965.75 ,   982

[2017-10-10 16:28] mdenker commented on #116
Hi Lungsi, I think this error has been fixed in the current elephant master branch. I can reproduce your error with elephant 0.4.1, but not with the master branch using the following minimal example:
[code]

Indeed, as far as I recall this had to do with Neo introducing checks for spike times, therefore the SpikeTrain object is no longer used to return ISI values.

[2017-10-10 17:14] mdenker opened #117 "Continuous integration builds for Ubuntu environment failing"
The 5th environment `ubuntu` of the CI tests is failing by timing out. This behavior is seen in the last PR integration, but also in PRs such as #110.

The build errors with a timeout:
[code]

[2017-10-12 14:15] mdenker commented on #117
Same as #114

[2017-10-12 14:15] #117 closed

[2017-10-12 16:02] mdenker commented on #115
I think this is a very general design decision to make: The safe solution is to error, the often more practical solution is to `nan`. Would it make sense to have functions such as the ones mentioned here error on default, but optionally only warn and return nan's?

[2017-10-18 10:27] apdavison commented on #115
I agree with Michael's suggestion - have error as default, but add an optional argument to return NaN, so that the user has to be explicitly aware of the choice. (This means the error message needs to include information about the NaN option)

[2017-10-18 11:12] alperyeg commented on #103
Fixed with https://github.com/NeuralEnsemble/elephant/pull/120

[2017-10-18 11:12] #103 closed

[2017-10-24 08:39] tristanstoeber opened #122 "Invalid window size/binwidth check"
Hei,

In /spike_train_correlation.py,  function '_cch_speed' and '_cch_memory', I tried a binwidth of 0.4 and a windowsize of 40. The input validation raises the error "ValueError: The window has to be a multiple of the binsize" despite being obviously true. In my case
win[0].rescale(binsize.units).magnitude % binsize.magnitude = 0.399999999998
So obviously a numerical issue with a simple toleranc

[2017-10-24 15:44] mdenker commented on #122
Hei Tristan,
thanks for you feedback.

I could replicate your problem on our machines using this code:
[code]

@alperyeg Can you also reproduce the error with this code? I am on
[code]

[2017-10-24 15:46] mdenker commented on #122
A current workaround is to specify the window using integer multiples of the binsize, i.e., in the above example:
[code]

[2017-10-24 16:11] alperyeg commented on #122
@mdenker I can reproduce the same error if I give a `quantity` as a parameter for the `window`. Otherwise
[code]
does work for me, too.
My setup is:
[code]
We can make a small hot fix.

[2017-11-15 16:56] #114 closed

[2017-11-15 16:57] alperyeg commented on #114
Issue fixed with https://github.com/NeuralEnsemble/elephant/pull/123

[2017-11-24 10:11] alperyeg commented on #112
See PR https://github.com/NeuralEnsemble/elephant/pull/125

[2018-01-30 23:35] FMendezSlc opened #128 "cch() got an unexpected argument 'cross_corr_coef'"
Hi all.

First of all, I want to thank you for your work in this library. It has become my principal tool to work with spike trains, trying to keep it all in python.

Anyway, I noticed this error. Apparently, the normalization was never actually incorporated in the function as described in the documentation. Checked the source code of the package I've downloaded, version 0.4.1. It's simply not the

[2018-01-31 14:15] pietroquaglio commented on #128
Hi,
yes you are right, this was unfortunately due to the fact that we had a glitch when we built the documentation for version 0.4.1 and it is not aligned to that release, but it refers to a later version of the repo.

In order to use the argument 'cross_corr_coef' you just need to checkout the master, instead of using version 0.4.1.

We will soon release a new version including the new functional

[2018-02-01 00:02] FMendezSlc commented on #128
Hi.
Thanks for the quick response. that's actually what I did once I realized
the code in the master branch was updated.
Following in this line, is there in the upcoming version a similar approach
for the implementation of the spike time tiling coefficient?

2018-01-31 8:15 GMT-06:00 Pietro Quaglio <notifications@github.com>:

[2018-02-02 09:29] pietroquaglio commented on #128
I personally did not know such measure, but I just took a look to the original paper introducing it and it seems very interesting. As far as I know there it is not planned to implement it at the moment, so if by chance you have already a python implementation or you are willing to contribute of course you are very welcome. In any case I will now create a new issue suggesting the implementation of

[2018-02-06 15:02] alperyeg opened #129 "travis: update to dist trusty"
Travis is discontinuing support for `Ubuntu precise` end of April 2018. Our travis script has explicitly `dist:precise` at the header. If not specified the Ubuntu build in the build matrix of travis produced errors before. So we should investigate this issue further on and change our travis script accordingly.
For more information see:  https://blog.travis-ci.com/2017-08-31-trusty-as-default-statu

[2018-02-16 13:38] mdenker opened #133 "instantaneous_rate() function should take a list of spike trains as input"
The function to calculate the instantaneous rate profile should be able to deal with lists of spike trains (like the time_histogram() function), e.g., to calculate the smoothed PSTH.

[2018-02-16 13:47] alperyeg commented on #112
I am closing this issue. We included already support for `mpi` in the installation script. If there is a need for a `C` specific method and it needs a more sophisticated installation procedure then a new issue should be opened.

[2018-02-16 13:47] #112 closed

[2018-02-16 13:49] alperyeg commented on #81
Issue shifted to https://github.com/NeuralEnsemble/python-neo/issues/430

[2018-02-16 13:49] #81 closed

[2018-02-20 19:17] FMendezSlc commented on #128
Hi again.

Sorry for the delay. I do have been working on a python implementation of
the original code by Cutts. I'm very pleased with it, now I'm working on
getting a parameter of the direction of the correlation.
Should I fork the project and put up a pull request or should someone
review it first?

Kind regards.

2018-02-02 3:29 GMT-06:00 Pietro Quaglio <notifications@github.com>:

[2018-02-21 08:25] alperyeg commented on #128
@FMendezSlc please fork the project and start a pull request. Someone will review it then.
Will this be an extension to the already existing method or something new?

[2018-02-21 08:54] alperyeg opened #134 "doc build is failing"
The documentation building step on `read the docs` is failing due to deprecated packages in `numpydoc` and `docutils`. The error is:

This can be probably fixed when setting the updated versions of the above mentioned packages in the `environment.yml` in the doc folder.

[2018-02-21 14:46] FMendezSlc commented on #128
As it is now, it's the python implementation of the method as published by
Cutts and Eglen following closely the C code (available at
https://github.com/CCutts/Detecting_pairwise_correlations_in_spike_trains/blob/master/spike_time_tiling_coefficient.c)
and making it fully compatible with the elephant library.

On Feb 21, 2018 02:25, "Alper" <notifications@github.com> wrote:

[2018-03-01 10:11] #134 closed

[2018-03-02 11:09] mdenker opened #139 "Treatment of identical transactions in optimized fim library"
In the newest implementation 6.28 (2017.03.24) of the `fim.so` libraries found at
http://www.borgelt.net/pyfim.html
which are used by the SPADE module, giving as input a list of identical transactions returns an empty list. This can be quick fixed in Elephant, but a better solution would be to fix this on the `fim.so` side.

[2018-03-02 15:18] mdenker commented on #139
Minimal example:

[code]
outputs:
[code]

[2018-03-02 15:23] mdenker commented on #139
#141 provides a hot fix by not calling the fim module if all transactions are identical.

[2018-03-14 19:27] pietroquaglio opened #144 "Error in the function statistics.instantaneous_rate when kernel='auto'"
The computation of the optimized kernel width return an error for spiketrain with few and very close spikes. Example to reproduce the error:
[code]

[2018-03-15 08:06] mdenker commented on #144
I can confirm this error in sskernel, and also that adding an additional spike a tiny bit further away works
`st=neo.SpikeTrain([2.12,2.13,2.15,2.16]*pq.s, t_stop=10*pq.s)`

[2018-03-15 11:24] alperyeg opened #145 "spike extraction test data missing when installing via pip"
The installation of elephant via pip does not include the `spike_extraction_test_data.npz`numpy file, which is needed when running `test_spike_train_generation.py`.
In `setup.py` we should specify the file to be uploaded.

[2018-03-19 10:53] pietroquaglio opened #146 "Wrong rounding cause an error when window parameter is set for the cch"
spike_train_correlation.cch() function raise an error also when the parameters window are a multiple of the binsize. Example:
[code]
This is due to the rounding error given by % operator (e.g. 0.1%0.01!=0). The control for such condition should be changed.

[2018-03-19 16:16] mdenker opened #148 "Docstring example of SFC missing imports"
[code]
is missing from the example in the SFC function

[2018-03-19 16:36] mdenker commented on #148
#147 fixed the issue regarding the s. This leaves the issue on how to deal with the `pq`.
I am tempted to not specify `import numpy as np` and `import quantities as pq` in each example such as to not clutter code. However, maybe it's better to be completely consistent throughout and make no hidden assumptions about imports being available for examples to run.

[2018-03-20 09:23] alperyeg commented on #148
IMO a doctest should be runnable. Each example shows how to use a function, in most cases people will copy the example and paste the code to try it out. That means the examples should be self-contained. This could imply to put imports everywhere in the example part of the docstrings.
One could checkout the [doctest module](https://docs.python.org/3.5/library/doctest.html) if there are smarter solu

[2018-04-03 09:30] mdenker opened #151 "Performing certain analysis functions in a window"
For some analysis functions, such as spike triggered average or spike triggered phases, it is desireable to limit the analysis to a small part of the input data. One option is to cut the input data beforehand, but another option is to use something like the window parameter in the spike triggered average. This is particularly useful if the analysis itself is conducted in a sliding window [-w,+w],

[2018-04-19 09:43] alperyeg opened #156 "Integrate pep8 speaks?"
Should we integrate pep8 speaks into Elephant? The tool checks for pep8 compatibility for ongoing pull requests.

https://pep8speaks.com/
https://github.com/OrkoHunter/pep8speaks

[2018-04-19 09:56] mdenker commented on #156
@apdavison I tried, but I cannot do this, since I am not owner of NeuralEnsemble. Could you please install the pep8 plugin when you get the chance? Thanks!

[2018-04-25 08:41] apdavison commented on #156
Done.

[2018-04-25 08:41] #156 closed

[2018-05-08 14:54] healther opened #158 "Deduplicate requirement information"
Currently requirements are specified both directly in `setup.py` as well as in `requirements.txt`.

Would it be possible to parse `requirements.txt` with something like (would require removal of commented out lines in `requirements.txt`)
[code]
rather than have two different locations for the same information?

[2018-05-08 14:55] healther commented on #158
cc @muffgaga @schmitts

[2018-05-08 16:01] muffgaga commented on #158
BTW. the software specified in the travis job seems to be slightly different (optional dependency on `pandas` version) from `requirements.txt`.

[2018-05-10 13:25] alperyeg commented on #158
@healther  @muffgaga, I completely agree. I can do it, otherwise feel free to contribute. Of course, we are happy for any other suggestions for improving the setup and ci routines (see e.g. #129).

[2018-05-10 13:31] alperyeg commented on #129
My runs with the only change `dist:precise` to `dist:truty` in the .yaml result in a timeout (arising from the cross-validation tests in the test csd module), which I cannot explain.

[2018-05-11 00:36] rgerkin commented on #158
@healther @muffgaga @alperyeg To make sure this works in all cases, consider looking at my implementation in SciUnit [here](https://github.com/scidash/sciunit/blob/master/setup.py).  This handles pip <=9 vs pip 10, and parses some edge cases where a valid line in `requirements.txt` is not a valid `install_requires` list item.  It also supports `--process-dependency-links` if we ever need that.  La

[2018-05-12 10:08] healther commented on #158
I'll try to get you a PR sometime next week

[2018-05-14 09:19] alperyeg commented on #158
I would not like to change that. The `fim.so` is directly downloaded from Christian Borgelts HP (the developer and maintainer of the frequent itemset algorithm we use) and we do not want to ship all the files. Besides, there is a fall-back version in  pure but slow python if the files cannot be accessed.

[2018-05-14 09:37] healther commented on #158
The problem is that right now the following will happen if you don't have an internet connection when doing `python setup.py install`

[code]

[2018-05-14 10:08] alperyeg commented on #158
You could put the `urlretrieve` commands to a function, and call it in a try catch block, checking for URLError.
Something like this:
[code]

[2018-05-15 09:05] alperyeg opened #160 "add manifest.in file"
According to @rgerkin (see https://github.com/NeuralEnsemble/elephant/issues/158) a `MANIFEST.in` file is necessary to properly include the `requirements` and `LICENCE` files in the pypi release.
Add inside:
[code]

[2018-05-15 10:26] alperyeg commented on #160
Any other files that should be included needs to be added to the `MANIFEST.in`.

[2018-05-16 14:59] alperyeg commented on #160
A manifest file is now added with PR https://github.com/NeuralEnsemble/elephant/pull/159. I will leave this issue a little bit open to remind us to put additional files into the `manifest.in`.

[2018-05-22 15:40] alperyeg commented on #160
Some examples:
include README.rst
include LICENSE.txt
include AUTHORS.txt
recursive-include doc *
prune doc/build

[2018-05-22 15:50] alperyeg opened #163 "Integration of optimized ASSET"
Add the optimized ASSET module to Elephant. Atm the code lies in a private repository ([here](https://github.com/INM-6/pcp_use_cases/tree/clean_up)).
TODOs (more to add):

- [ ] Compare and merge `asset.py` with the code in the module
- [ ] Create an `asset` folder and put the necessary files in there. The module requires `cython` and other `c-based` files
- [ ] Adapt `setup.py` to compile the `c`

[2018-05-24 15:11] alperyeg commented on #146
@pietroquaglio is this issue fixed?

[2018-05-24 15:12] alperyeg commented on #145
The datafile could loaded as done in the `unitary_event_analysis_test`

[2018-05-24 15:15] alperyeg commented on #128
Merged with https://github.com/NeuralEnsemble/elephant/pull/136

[2018-05-24 15:15] #128 closed

[2018-07-11 12:57] alperyeg commented on #133
@rgutzen can you take care of this feature request? Thanks!

[2018-07-11 13:14] alperyeg commented on #115
@EmanueleLucrezia can you fix this issue? Thanks!

[2018-07-11 14:52] rgutzen commented on #133
see pull request #166

[2018-07-13 12:04] #133 closed

[2018-07-31 12:31] #145 closed

[2018-07-31 12:31] #160 closed

[2018-08-01 08:36] #144 closed

[2018-08-06 11:22] neworderofjamie opened #169 "C[i, j] = C[j, i] = enumerator / denominator in corrcoef"
I'm trying to plot cross-correlation histograms of the attached spike data using the following elephant code:
[code]
The ``corrcoef`` function emits a warning of ``C[i, j] = C[j, i] = enumerator / denominator in corrcoef`` and I'm getting NaNs in the resultant correlation matrix. It is quite possible the problem is with my data, but other analysis looks totally fine  (raster plotting, CV ISI, rate

[2018-08-06 12:25] neworderofjamie commented on #169
Some more investigation suggests that this is due to some of the spike trains containing no spikes but a more informative error would be extremely useful

[2018-08-08 08:37] alperyeg commented on #169
Hi @neworderofjamie as you already have seen the error is in the `enumerator/denominator` step. The warning is a typical `numpy` warning. Either there is a division by zero so you get NaNs or some other strange mathematical operation. If you look at the results the values are close to zero and negative or NaN.
@mdenker I think you wrote the function. Can you have a look if possible?

[2018-08-08 08:49] alperyeg commented on #169
FYI: I also realized that the list `spike_times` contains some empty spike trains.

[2018-08-09 14:10] alperyeg commented on #169
We made a fix for this issue. Addressed [here](https://github.com/NeuralEnsemble/elephant/pull/171)

[2018-08-16 14:46] EmanueleLucrezia commented on #115
I can try to adapt the code from here: https://github.com/NeuralEnsemble/elephant/pull/171/files, where the same issue arose for empty spike trains and an argument 'with_nan' was introduced

[2018-08-20 14:15] pietroquaglio commented on #146
Not yet, but I am preparing a pull request at the moment (coming latest end of this week)

[2018-09-13 11:51] #146 closed

[2018-09-14 11:52] pietromarchesi opened #174 "BinnedSpikeTrain returns incorrect bin edges and bin centers when arguments have different units"
Running neo 0.6.1, quantities 0.12.2.

[code]
Returns
[code]
The correct units for `bin_edges` are seconds (instead of milliseconds), whereas the `bin_centers` seem pretty off. This bug has to do with the case in which `BinnedSpikeTrain` receives different units, because converting manually

[code]
Gives the expected output
[code]

[2018-09-14 12:39] alperyeg commented on #174
@pietromarchesi thanks for the bug report I will have a look.

[2018-09-27 14:32] pietroquaglio opened #177 "test_spike_train_generation.py uses the PyNNIO class to load test data"
In `test_spike_train_generation.py` in order to test the spike_extraction function, some reference artificial data, generated with `make_spike_extraction_test_data.py` and stored in a .npz file as a neo block, are loaded using the PyNNIO class which does not exist any longer. This makes fail the test.

[2018-09-27 15:40] alperyeg commented on #177
@rgerkin did you provide the file and data? We have a working solution for it see [here](https://github.com/INM-6/elephant/commit/c037f6c163d3e4171969caa648e05e1d1c693713), using instead the `.npz` a `.txt` file and loading the analogsignal from there. Would you be fine with that solution? Because atm. we do not know any other way to load the data without the `PyNNIO`.

[2018-10-02 09:00] alperyeg opened #178 "Install neo from pip"
At the moment `neo` is directly installed from the Gthub master branch. It should be installed via pip to have a stable working solution.
Right now the problem is that the pip `neo 0.6.1` version is not compatible with the latest `numpy` version which we have in our scripts.
I guess it is better to wait for the latest 0.7.0 release of `neo`.

[2018-10-02 09:27] apdavison commented on #178
Can you give more details on the numpy version requirements?

[2018-10-02 09:54] alperyeg commented on #178
In our installation script the oldest numpy version we use is 1.8.2. the latest one is 1.15.1. On my laptop I tried with numpy 1.10 which also failed. [Here](https://travis-ci.org/alperyeg/elephant/builds/435683814) is the travis output.

[2018-10-09 15:17] alperyeg commented on #177
@pietroquaglio I think you can submit the PR. Then we can continue the discussion over there.

[2018-10-11 08:19] alperyeg commented on #178
@apdavison shall I open an issue on the github page of neo?

[2018-10-11 14:11] apdavison commented on #178
@alperyeg yes, that's a good idea

[2018-10-12 14:18] #174 closed

[2018-10-22 12:12] alperyeg commented on #178
Can be closed, because it is a known problem. Best solution is to wait for `neo 0.7.`

[2018-10-22 12:12] #178 closed

[2018-10-23 08:39] alperyeg commented on #177
Fixed by #180

[2018-10-23 08:39] #177 closed

[2018-10-24 20:53] #115 closed

[2018-10-25 08:00] alperyeg opened #186 "Change module list on the docs page to categories"
The module list on the [readthedocs page ](https://elephant.readthedocs.io/en/latest/modules.html)right now is in alphabetical order. A categorical view with the modules under specific topics would improve the readability.

[2018-11-21 00:51] lbazan opened #188 "test failed (unittest / nosetests)"
setup.py nosetests
Or
setup.py nosetests --with-coverage --cover-package=elephant --cover-erase
Or
setup.py -m unittest discover

+ /usr/bin/python2 setup.py nosetests --with-coverage --cover-package=elephant --cover-erase
running nosetests
running egg_info
writing requirements to elephant.egg-info/requires.txt
writing elephant.egg-info/PKG-INFO
writing top-level names to elephant.egg-info/top_lev

[2018-11-27 16:48] mdenker opened #190 "Implement VERSION file for version number"
Similar to the Neo project, Elephant should hold the version number in a VERSION file that is parsed in relevant places.

[2018-11-27 16:49] mdenker opened #191 "Update developer docs to reflect changes in the release process"
Update documentation on building releases for the Elephant package, e.g., with respect to using twine instead of sdist upload.

[2018-11-27 18:26] jpgill86 opened #192 "Annotations in Neo 0.7.0"
Neo 0.7.0 includes major changes to annotations. In a recent Travis build for another PR (#189) that installed Neo 0.7.0, many `test__extract_neo_attrs__*` tests failed:

https://travis-ci.org/NeuralEnsemble/elephant/builds/460385827

[2018-11-27 19:36] jpgill86 opened #193 "Rectified area under the curve (RAUC) and derivative of AnalogSignal"
I'm wondering if there would be any interest in incorporating two functions I've written for my own use into elephant:

- [Rectified area under the curve (RAUC) for an AnalogSignal](https://github.com/jpgill86/analysis/blob/ae407573b48056a55c61c7cf562ae722766c309f/modules/NeoUtilities.py#L41)
- [Derivative of an AnalogSignal](https://github.com/jpgill86/analysis/blob/ae407573b48056a55c61c7cf562ae7

[2018-12-10 10:38] kkorvasova opened #195 "elephant.signal_processing.butter doesn't work with neo 0.8.0.dev0"
When calling elephant.signal_processing.butter with neo 0.8.0.dev0, I am getting the error
"AttributeError: 'AnalogSignal' object has no attribute 'duplicate_with_new_array' "
With neo 0.6.1 it worked.

An example that reproduces the error:

[code]

[2018-12-12 12:16] jpgill86 commented on #195
This will be fixed with #189.

[2018-12-13 14:30] jpgill86 commented on #195
This should no longer be a problem with Neo 0.7.1, released today. See [this post](https://github.com/NeuralEnsemble/elephant/pull/189#issuecomment-446987346). I think this issue can be closed.

[2018-12-26 14:00] pietroquaglio opened #196 "Rounding error in binning function"
The BinnedSpikeTrain class introduce an error in the binned spike train with specific binsizes. I suspect it is due to a rounding error when the bin index is computed by dividing the spike times with the binsize (line 797 of conversion.py). Here a minimal example to reproduce the error:
[code]
The spikes fall both in the same bin (the first):
[code]
, while they should be in two successive bins:
[

[2019-01-08 09:07] Kleinjohann commented on #196
I have also experienced this issue. It arises most prominently when the binsize is a multiple of the sampling rate and when the possible spike times are t_start + n * sampling_rate for integers n (which is of course very common). Since t_start becomes the left edge of the first bin, all bin edges exactly coincide with possible spike times and it is basically up to chance in which bins these spikes

[2019-01-17 11:58] mdenker commented on #196
Worked on at https://github.com/INM-6/elephant/tree/fix/196

[2019-01-17 15:02] Kleinjohann commented on #196
I fixed the other tests that failed.

However, I realised that while our modifications make sense and prevent errors which might occur in some rare cases, they cannot fix the problem in Pietro's example. This is due to the fact that his example basically simulates spike trains with a fixed sampling rate. As we discussed our modifications do not help in that case.

See above for Pietro's code. When

[2019-01-30 10:58] PaulinaDabrowska opened #197 "spike_dither() sometimes returns an empty array"
If the units of SpikeTrain and its t_start and t_stop differ, spike_dither() may return an empty array (but sometimes seems to work correctly). An example to reproduce the error:
[code]

[2019-01-31 09:43] JuliaSprenger opened #198 "change `.base` to `.magnitude`"
This is related to #197.
`.base` is a method of `numpy` arrays and therefore is not aware of quantities. When using `.base` instead of `.magnitude` this might lead to unexpected behaviour if units can not be considered.

[2019-03-20 12:31] pietromarchesi opened #202 "BinnedSpikeTrain creates new spikes"
I have spike times defined in microseconds. When I use BinnedSpikeTrain with a bin size defined in milliseconds, I end up with more spikes than I started with.

[code]
Output:
[code]

If I rescale my spike trains, I get another error:

[code]
[code]

Actually, it does not have to do with the units, it seems, but with the size of the binning window. This in fact gives the same problem:

[code]
Wher

[2019-04-01 06:58] mdenker commented on #192
Fixed by #203

[2019-04-01 06:58] #192 closed

[2019-04-01 06:59] mdenker commented on #188
Fixed by #203

[2019-04-01 06:59] #188 closed

[2019-04-01 07:28] mdenker opened #206 "Proper environment for documentation builds"
The previous environment for RTD documentation was too detailed in pinning versions numbers and thus breaking with the generic docker containers of RTD. Now, the environment file is very slim and contains few entries only. The goal of this issue is to ensure (i) a good specification of the build environment containing only necessary additional packages and their versions, and (ii) switching the do

[2019-04-01 15:43] mdenker opened #207 "Update developer documentation with new non-deprecated upload instructions for pypi package"
https://packaging.python.org/tutorials/packaging-projects/

[2019-04-06 18:38] #193 closed

[2019-04-09 14:15] mdenker opened #208 "Rescaling Neo objects (mainly in time) before an analysis"
A topic that frequently comes up is how to treat the physical (`quantities`) units of a Neo object if one starts doing calculations with it.

* One option to to select one unit (e.g., the time units of a spike train) and scale all other properties (e.g., `t_start`) and potentially other Neo objects to this selected physical unit.
* An alternative is to simplify all units and convert them to SI, e.

[2019-04-11 09:03] #197 closed

[2019-04-11 09:44] #169 closed

[2019-04-11 09:45] #198 closed

[2019-04-11 09:46] oraby opened #212 "SPADE: setup.py should download fim.pyd for windows"
[`spade.py`](https://github.com/NeuralEnsemble/elephant/blob/009e80f4945e2c12249c6f43f9f6b76fb7d0f520/elephant/spade.py#L76-L83) fails to import `fim` module on windows as [`setup.py`](https://github.com/NeuralEnsemble/elephant/blob/009e80f4945e2c12249c6f43f9f6b76fb7d0f520/setup.py#L23-L36) downloads only the `.so` version of the library, while windows requires the `.pyd` variation.

The windows p

[2019-04-11 12:40] mdenker commented on #212
Thanks for the input, I'll have a look into this. I think the Windows version had not been considered so far.

[2019-04-12 07:56] apdavison commented on #208
I'm not sure I understand the issue. `quantities` should let you completely ignore this issue, as it takes care of scaling automatically; that's one of the reasons for using it in Neo.

[2019-04-17 09:52] mdenker opened #214 "Provide precompiled FIM modules via pip/conda packages"
Currently, the fim.so/fim.pyd precompiled files are supplied as a download from the author's website. A better option would be to have these libraries as classic dependencies, downloadable by pip/conda, as suggested by @jpgill86 in #213 .

[2019-04-17 09:58] mdenker commented on #214
Quote from @jpgill86

[2019-04-17 12:10] #212 closed

[2019-04-17 12:11] mdenker commented on #212
Fixed. but enhancement suggested in follow-up issue #214

[2019-04-17 12:43] mdenker commented on #208
As additional background, this topic was raised in PR #199 with opposite and imho equally valid viewpoints by @pietroquaglio and @PaulinaDabrowska , and the point of this issue is to collect opinions on whether there are arguments for either way of dealing with this issue (and whether this is an issue at all).

@apdavison Yes, in principle this is true, that is indeed the beauty of quantities. How

[2019-04-17 19:16] lbazan opened #216 "BUILDSTDERR: urllib.error.URLError: <urlopen error [Errno -2] Name or service not known>"
BUILDSTDERR: Traceback (most recent call last):
BUILDSTDERR:   File "/usr/lib64/python3.7/urllib/request.py", line 1317, in do_open
BUILDSTDERR:     encode_chunked=req.has_header('Transfer-encoding'))
BUILDSTDERR:   File "/usr/lib64/python3.7/http/client.py", line 1229, in request
BUILDSTDERR:     self._send_request(method, url, body, headers, encode_chunked)
BUILDSTDERR:   File "/usr/lib64/python

[2019-04-17 22:31] mdenker commented on #216
Hi @lbazan ,
thanks for sharing your error trace. Did you get this during installation using a system-wide installed python 3.7, e.g., using something like
`sudo pip install elephant`?

[2019-04-17 22:50] mdenker commented on #216
Two more questions:

Do you have a proxy server installed, i.e., does
`echo "$http_proxy"`
give back something other than a blank line?

And can you get your file manually using
`wget http://www.borgelt.net/bin64/py3/fim.so`

[2019-04-18 06:52] mdenker commented on #216
There is a fix #217 that prevents setup.py from crashing if the corresponding download location is not available. I'd be interested if this solves your issue when you install from this fix:
`pip install git+https://github.com/INM-6/elephant.git@fix/urlerror`

[2019-04-23 17:06] mdenker commented on #216
I am assuming this to be fixed by #217. Please re-open and provide additional info if the problem persists. Again, thanks for reporting.

[2019-04-23 17:06] #216 closed

[2019-05-20 11:48] jmbudd opened #220 "Butterworth filtering and theta bandpass"
Hi

I have encountered what I think may be an issue with bandpass filtering for theta band using Elephant. For my working, see [1] and [2]; I have used a test signal with a sampling rate (fs) of 5000 Hz to match data I am analysing but which I can't share.

I think this may arise because [signal_processing.py](https://github.com/NeuralEnsemble/elephant/blob/master/elephant/signal_processing.py) us

[2019-05-21 06:36] mdenker commented on #220
Thanks for sharing your analysis and putting this report here from the mailing list. For a start, I definitely can reproduce the behavior you demonstrate.

[2019-05-26 19:32] jmbudd opened #223 "Wavelet transform bias"
Hi

I have come across an apparent issue with the current implementation of the Morlet complex wavelet function used in [elephant.signal_processing.wavelet_transform()](https://github.com/NeuralEnsemble/elephant/blob/master/elephant/signal_processing.py). For my somewhat circuitous working, see [1] and [2].

According to the documentation, this implements the Morlet wavelet function described in L

[2019-05-27 05:52] dizcza commented on #223
Thank you for pointing that out. We'll take a look and let you know.

[2019-05-27 09:09] mdenker commented on #223
On request of the poster, temporarily closing the issue for now for some further cross-checking of the issue. Re-opening if necessary.

[2019-05-27 09:09] #223 closed

[2019-06-07 14:32] dizcza commented on #202
Could you please provide your `spike_times`, `session_t_start`, and `session_t_stop`? I can't reproduce this with simulated data

[code]

[code]

Print also please which elephant and neo versions you use.

[2019-06-07 20:48] lbazan opened #224 "DeprecationWarning: the imp module is deprecated in favour of importlib;"
BUILDSTDERR: /usr/lib64/python3.7/site-packages/sklearn/externals/six.py:7: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
BUILDSTDERR:   import imp
BUILDSTDERR: /usr/lib64/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.

[2019-06-07 21:03] lbazan opened #225 "test failed"
======================================================================
ERROR: test_Riehle_et_al_97_UE (elephant.test.test_unitary_event_analysis.UETestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/lbazan/rpmbuild/BUILD/elephant-0.6.2/elephant/test/test_unitary_event_analysis.py", line 464, in test_Riehle_et_al_97_UE

[2019-06-11 07:16] dizcza commented on #214
Indeed, pip and conda FIM package seems to be able to include `fim` lib properly. we can add fim package in requirements-extras

[2019-06-11 07:33] dizcza commented on #225
Please, provide the exact command of how you run the tests.
Also, specify your version of `neo` and `elephant` packages.

[2019-06-13 14:08] dizcza commented on #220
`scipy.butter` by default uses 'ba' output. I don't know why they stick to 'ba' rather than 'sos', I have little experience in frequency filtering. But I think, as it's done in all great python packages, it's due to the fact that, on average, it's working well, even though in some particular cases - one that you generously demonstrated - it might not work as expected. Since the first implementatio

[2019-06-14 07:33] sanjayankur31 commented on #225
This is because the pypi tarball does not seem to include the data files required to run a few tests. Using the release tar from Github solves most of them. @dizcza : should the txt data files that are needed for the tests perhapse be included in the manifest so they end up in the pypi tarball?

[2019-06-14 07:35] sanjayankur31 commented on #225
[code]

[2019-06-14 08:52] sanjayankur31 opened #227 "ERROR: test_cubic (elephant.test.test_cubic.CubicTestCase) on 32 bit arches"
We're building elephant for multiple arches for [neurofedora](https://docs.fedoraproject.org/en-US/neurofedora/overview/). This one test fails on 32 bit architectures only. Here's the output from a failed i686 build:

[code]

- Failed i686 build: https://koji.fedoraproject.org/koji/taskinfo?taskID=35534431
- The complete build log for this i686 build is here:  [elephant-i686-failed-build.txt](http

[2019-06-14 09:01] sanjayankur31 opened #228 "Documentation build failure"
With the 0.6.2 release, and the latest git snapshot, the package documentation does not build. To verify, I tested it out in a clean python 3 virtual environment where I installed all the required deps from the `requirements*.txt` files:

[code]

[code]

We receive the same error on the Fedora builds also.

[code]

[2019-06-14 09:44] dizcza commented on #225
@sanjayankur31 a good catch. I'll add `spike_extraction_test_data` to package data. It's not a large file so we can afford including it.
@lbazan regarding your first error - it will be fixed in https://github.com/NeuralEnsemble/elephant/pull/222.

[2019-06-14 10:10] dizcza commented on #214
https://pypi.org/project/fim/ does not work anymore. Amazing. A few days ago I checked and it worked. Since fim pypi release is not stable, we cannot rely on this. We can close the issue until we are pretty sure that fim pypi release is stable.

[2019-06-16 11:06] jmbudd commented on #220
Thanks for your response. Yes, having the option to use 'sos' output would be helpful but the code would also need to include sosfiltfilt() filtering. But I am not sure I agree that 'ba' should remain the default because it seems best practice not to use this representation. This is not because there is a problem with scipy implement but that this method is numerically unstable (for discussion, se

[2019-06-18 07:53] dizcza commented on #224
Duplicate of https://github.com/NeuralEnsemble/elephant/issues/224.
Or rather vice versa.
It'll be fixed in https://github.com/NeuralEnsemble/elephant/pull/230.

[2019-06-18 08:08] dizcza commented on #206
Done both (i) and (ii) in https://github.com/NeuralEnsemble/elephant/pull/230.

[2019-06-18 08:15] dizcza commented on #195
Confirmed with neo v0.7.1. The issue is fixed.

[2019-06-18 08:15] #195 closed

[2019-06-18 12:01] dizcza commented on #190
Implemented in https://github.com/NeuralEnsemble/elephant/pull/231

[2019-06-24 15:28] #228 closed

[2019-06-24 15:28] #227 closed

[2019-06-25 19:17] dizcza commented on #227
If you encounter other issues with 32-bit arch, please let us know.

[2019-06-26 12:20] #224 closed

[2019-06-26 12:21] #225 closed

[2019-06-27 13:28] dizcza commented on #228
The fix in https://github.com/NeuralEnsemble/elephant/pull/230 introduces another issue that will be fixed in
 https://github.com/NeuralEnsemble/elephant/pull/232.

[2019-07-05 14:43] dizcza commented on #220
Sorry for the late reply.
Can you please go through https://github.com/NeuralEnsemble/elephant/pull/234 or corresponding branch https://github.com/INM-6/elephant/tree/butter and check that it works as intended? I added one test for `sosfiltfilt` that compares its output with `filtfilt` and `lfilter`. Then I thought you might want to check it as well. Feel free to add comments into the PR.

[2019-07-10 08:02] jpgill86 opened #236 "[Bug] Cannot install elephant with new Neo 0.7.2"
Neo 0.7.2 was just released today (NeuralEnsemble/python-neo#687). However, until the typo that was fixed in #218 makes it onto PyPI in a new version of elephant, pip cannot resolve dependencies that include

[code]

To fix this, elephant 0.6.3 (or 0.6.2.1) would need to be released including the fix from #218.

[2019-07-10 08:12] jpgill86 commented on #236
As an aside, I find the current requirement `neo<0.8.0` for elephant to be very annoying.

I understand it's motivated by the intention to provide paired releases between elephant and Neo. However, if I have the development version of Neo installed, pip sees my Neo version as `0.8.0.dev`, which violates the requirement `neo<0.8.0`, and automatically replaces it with an old version. Very obnoxious.

[2019-07-10 08:39] jpgill86 opened #237 "[Bug] `import elephant` rendered useless by removal of imports in __init__.py"
@dizcza [said](https://github.com/NeuralEnsemble/elephant/pull/222#issuecomment-505037494)

[This removal of all imports](https://github.com/NeuralEnsemble/elephant/commit/9458aa5758bfa42cb84afaed24e403c71d111928#diff-cf5c99a03a3651f3e9120185b8bfa91aL9) from `__init__.py` means that `import elephant` does nothing.

[code]

In order to use elephant, the user now has to manually import every subpack

[2019-07-10 10:19] dizcza commented on #237
Indeed, as you pointed out, `dir(elephant)` should contain useful internal packages. I'll revert the change back soon.

[2019-07-10 16:21] #220 closed

[2019-07-11 16:18] dizcza commented on #158
The issue should be closed because it is resolved in the PRs, mentioned above.
Reopen if I'm wrong.

[2019-07-11 16:18] #158 closed

[2019-07-11 16:24] dizcza commented on #129
Changed to `dist: xenial` in https://github.com/NeuralEnsemble/elephant/pull/222

[2019-07-11 16:24] #129 closed

[2019-07-11 17:44] jpgill86 commented on #237
See also https://github.com/NeuralEnsemble/elephant/pull/231#discussion_r302662916.

[2019-07-17 20:40] jpgill86 commented on #236
Is anyone with the appropriate privileges willing to create a maintenance branch called "0.6.x" starting at the "v0.6.2" tag?

Once that is done, I can create a pull request against that branch that backports a67b33f into it. After it is merge, I will politely ask again if anyone is willing to create a release from the maintenance branch containing the fix (called 0.6.2.1 or 0.6.3, dealer's choice

[2019-07-18 10:15] dizcza commented on #236
You introduced two issues here.

The first one, dependency conflict between elephant v0.6.2 and neo v0.7.2, will be fixed by creating a new elephant release v0.6.3 once https://github.com/NeuralEnsemble/elephant/pull/239 is merged.

Regarding the second issue, I don't know an easy fix for this. I tried to find out how other packages deal with `dev` version, but I have not found any mentions. Did y

[2019-07-18 16:58] jpgill86 commented on #236
Mea culpa.

Thank you!

I can't remember exactly how I discovered it, I think I was working with some automated tool, perhaps [pyoxidizer](https://github.com/indygreg/PyOxidizer), which created a file for me containing a requirements spec like `<0.8.0a`, and it piqued my curiosity. I tried it locally for elephant and found it made a difference. I started drafting a separate issue containing a prop

[2019-07-21 06:18] #237 closed

[2019-07-23 10:17] dizcza commented on #236
1. The release v0.6.3 is published.
2. I checked the pep 440 about version resolving you linked and I also find that pip does not follow it. Maybe, one should fire an issue for pip or at least ask for clarification. I don't feel I'll do it soon. For now, I leave it as it is, keeping it running in the back of my mind.

[2019-07-23 10:17] #236 closed

[2019-07-23 14:05] jpgill86 commented on #236
Thank you for the release!

[2019-07-29 07:30] mdenker opened #242 "[Feature] Slicing and time_sliceing of BinnedSpikeTrain objects"
**Feature**
The `BinnedSpikeTrain` class currently does not support slicing, except on the returned arrays (e.g., `to_array()`). This makes it inefficient, when, e.g., going through data in a sliding window fashion, because elephant functions accept `BinnedSpikeTrain` objects, and not normal `np.array`s. Thus, at the moment, we require a lot of boilerplate, e.g., assuming a spike train `st` we cou

[2019-07-29 14:33] #190 closed

[2019-08-14 07:35] mdenker opened #245 "[Bug] Regression error in selecting correct automatic kernel size for instantaneous rate"
**Describe the bug**
This is a potential regression introduced during development of the automatic kernel selection in #35, where a confusion between a kernel bandwidth and the standard deviation of the kernel was introduced. This led to non-optimal kernels in the instantaneous rate calculation as identified by @Junji110 .

Investigation and fix/regression test is in progress.

[2019-08-14 08:54] mdenker opened #247 "[Feature] Add test for autoamtic kernel selection to test against reference implementation"
**Feature**
To prevent bugs such as #245, there should be a unit test of the instantaneous rate estimate against reference data. One option is to compare against data obtained from the online tool.

[2019-08-16 07:26] #245 closed

[2019-08-19 19:22] jmbudd commented on #220
@dizcza thanks for adding this new option. I ran the same tests in a new jupyter notebook to compare new 'sosfiltfilt' option with default 'filtfilt' option [1, 2]. For this single test case, the new option works well for both 4-th and 5-th order Butterworth bandpass filters.

[1] [bandpass_test_sos.ipynb](https://github.com/jmbudd/misc/blob/master/bandpass_test_sos.ipynb)
[2] [bandpass_test_sos.p

[2019-09-05 15:51] lbazan opened #248 "[Feautre] build with py 3.8"
Hi team ---

Does not work with py 3.8

Cheers,

[2019-09-06 13:04] dizcza commented on #248
Python 3.8 is in pre-release mode and yet not officially supported in well-known packages like numpy. For example, there is en error for the latest python 3.8.0b4 trying to compile and install numpy 1.17.1. Once the python 3.8 becomes stable, we'll add support for it. For now, please use 3.7 (or 3.8 at your own risk).

[2019-10-08 20:21] jpgill86 opened #253 "Plans for compatibility with Neo 0.8.0?"
Neo 0.8.0 was released on September 30. Presently, elephant is marked as incompatible with it:

https://github.com/NeuralEnsemble/elephant/blob/c78af7ea6cff3645bab306393349aa7d89f05a13/requirements.txt#L1

Running ``pip install neo elephant`` in a new environment results in

[code]

Although pip printed an error, the installation completes, and the packages seem to work together.

However, continu

[2019-10-09 08:37] dizcza commented on #253
Hi Jeffrey,

I'm currently looking at switching elephant to neo v0.8.0. There is one bug, however, reproduced several times in `test_neo_tools.py` that I don't understand - some breaking changes that, unfortunately, are not documented in neo v0.8.0 release notes. Now, `fake_neo('Block', seed=0)` returns a Block whose `array_annotations` field is an empty dict. Here is the traceback

[code]

These

[2019-10-09 08:47] apdavison commented on #253
Hi Danylo,

I'm not sure what that test is doing, but the "durations" and "labels" attributes of Epoch are no longer stored in array_annotations - see https://github.com/NeuralEnsemble/python-neo/pull/659

[2019-10-09 09:38] Kleinjohann opened #255 "[Bug] BinnedSpikeTrain bin_edges do not match the actual binning"
If t_stop - t_start is not divisible by binsize, the computed bin_edges do not match the actual binning.

[code]
returns
[code]

The bin_edges do not reflect the requested binsize, but the actual binning is correct (the spike did not end up inside the bin).

This is because we're using a linspace t_start,  t_stop and num_bins to compute the edges without taking the binsize into account:
https://gi

[2019-10-09 10:15] dizcza commented on #253
Thank you, now it makes sense.
It should be in the master soon.

[2019-10-09 12:56] dizcza commented on #255
Thanks, Alex.

I'm struggling with what values `bin_edges` should take. Would you expect them to be `[0., 2., 3.]` in your case?

[2019-10-09 13:32] Kleinjohann commented on #255
It should be `[0., 2.]`. It is crucial for many analyses that all bins have the same size, so if `t_stop - t_start` is not divisible by `binsize`, there will be some leftover time at the end. This is probably what was happening in #202 by the way, maybe we should document this better?

[2019-10-09 13:48] dizcza commented on #255
Yes, I'll fix it and add this to docs because it wasn't obvious for me what you've just said. I also thought about the issue you mentioned (and the previous one in the list), but I guess this one is different. I'll check it anyway though.

[2019-10-09 16:39] jpgill86 commented on #253
Excellent, thank you Danylo!

[2019-10-21 08:45] mdenker commented on #255
Discussed at meeting that this PR produces the desired behavior. One may consider throwing a warning to alert the user if the recording time is not divisible by the bin size.

[2019-10-22 14:10] #253 closed

[2019-10-30 18:20] AlexVanMeegen opened #264 "CCH normalization / y-offset"
Hey!

@morales-gregorio and I stumbled across the following issues when using `cross_correlation_histogram` to calculate the time-lagged auto-correlation function. These might not be actual issues but boil down to different conventions with their respective (dis-)advantages. Just want to raise it here to make you aware.

If I understand the `cross_correlation_histogram` function correctly, it calc

[2019-10-30 21:52] jmbudd opened #265 "[Bug] signal_processing.cross_correlation_function() scaling"
**Potential Issue**
The scaling of the cross correlation coefficient may not be correct at least for single pairs of AnalogSignals.

**Reproduce**
See notebook: https://github.com/jmbudd/misc/blob/master/ElephantCrossCorr.ipynb
(pdf of notebook: https://github.com/jmbudd/misc/blob/master/ElephantCrossCorr.pdf)

**Expected Behaviour**
The output from elephant code should match numpy/matlab version

[2019-11-04 07:51] dizcza commented on #265
Thank you for pointing this out! True, these functions should behave as numpy/scipy equivalent with the only difference that the input is AnalogSignal.
We're currently at Elephant workshop that will end on Wed, then I'll take a closer look.

[2019-11-07 10:12] mdenker opened #269 "[Bug] Spike triggered phase extraction with heterogenous time units"
**Describe the bug**
A bug occurred in `elephant..phase_analysis.spike_triggered_phase` when the spike train and the analog signal had different time units, and these time units contained compound units. This lead to an incorrect calucation of the time indices of where spikes are in the analog signal.

**Fix**
The culprit was an expression in the function that calculates a dimensionless Quantities

[2019-11-11 07:07] #269 closed

[2019-11-11 10:09] #255 closed

[2019-11-11 15:31] dizcza commented on #265
First of all, thank you for the reproducible notebook with the explanations. Seems your suggestion is right, though first I need to understand why the scaling was put in the first place. Maybe, the author of this function wanted to deal with the decaying tails on purpose, I'm not sure. And so I need to look up for the equation in the book the function references to.
I'll let you know once I get it

[2019-11-11 16:17] jmbudd commented on #265
Thanks, Danylo. I think this is a right approach although I could not find the book cited.

[2019-11-12 21:34] AlexVanMeegen commented on #196
Just stumbled across this and it looks strangely familiar. I suspect @pietroquaglio is right in his first comment when attributing it to the division by the binsize.

To me, it looks like the problem is something like this: `int(6.6e0/3.3e-2)` yields `199` instead of `200` due to numerical inaccuracies in float division, i.e. `int(6.6e0/3.3e-2) = int(199.99999999999997) = 199`. In conversion.py th

[2019-11-13 19:01] dizcza commented on #265
I cannot find the book either. But the comment at line 255

explains the behavior. Maybe, it'd make sense to add a corresponding argument parameter `unbiased=True` like we do in [cross_correlation_histogram](https://github.com/NeuralEnsemble/elephant/blob/master/elephant/spike_train_correlation.py#L271) function.

The example you linked in the notebook does not mention bias correction at all. And

[2019-11-14 15:17] janlewen opened #272 "[BUG] Valid mode in CCH function for different t_start and t_stop"
Hi,
I have a probem with the window parameter "valid" in the function cross_correlation_histogram.

I think for this mode it is nessecary to give different long spiketrains, but then an Error is raised. Here one example code:
[code]

The Error message is:
[code]

Expected behavior:
That the CCH is calculated like in numpy.correlate and the lags are given with quantities. Lag 0 would be the value i

[2019-11-15 10:54] dizcza commented on #264
It took a long time to think about what you wrote and what we actually do with it in CCH.

As you saw, CCH function has `cross_corr_coef` flag. However, it does slightly different than your proposal. But the equation for computing the cross-correlogram for poisson spike trains seems to be established since 1982 and used in papers interchangeably, so we stick to the equation, which is given in our

[2019-11-15 14:08] AlexVanMeegen commented on #264
Thanks for looking into this! For the timescales, `cross_corr_coef=True` works fine. There, I only need the y-offset corrected, which is done in `cross_corr_coef=True`, and I don't care about the normalizations because I normalize the CCH to one (https://github.com/NeuralEnsemble/elephant/blob/master/elephant/spike_train_correlation.py#L816).

I thought about the normalization a bit more. Based on

[2019-11-18 09:32] mdenker commented on #265
Link to Matlab scaling options: https://de.mathworks.com/help/matlab/ref/xcorr.html#d117e1608028

[2019-11-18 09:46] dizcza commented on #272
We can do this either
1. Always pass mode='full' and then clip the result array to our valid window.
2. Ignore the differences in t_starts, calc the CCH and then shift the output array back, according to the diff in t_starts.

[2019-11-18 19:15] jmbudd commented on #265
Thanks, Danylo and Michael, this explains the difference - abs(tau) term provides for an unbiased estimate, which numpy function does not. I agree adding a corresponding argument would make this clear and be more consistent with [cross_correlation_histogram](https://github.com/NeuralEnsemble/elephant/blob/master/elephant/spike_train_correlation.py#L271).

[2019-11-27 10:08] mdenker opened #276 "[Feature] Fixed version of fim.so"
**Feature**
Provide a fixed version of `fim.so` for each version of Elephant.

**Motivation**
Currently, `fim.so` (or the Windows equivalent) is downloaded on install-time of Elephant. This, however, leads to a situation, where different versions of fim.so are installed with the same version of Elephant. This causes a problem for package managers, when building distributions, since the hashes will

[2019-11-27 13:29] Kleinjohann commented on #196
Thanks for reviving this discussion @AlexVanMeegen

Yes, some clever rounding might work.
As you implied we only need to round 'upwards' since casting to integer takes the floor. We need some check to ensure compatibility with spike times that are not mutiples of the binsize.
Maybe something like
[code]
right before casting to integer.

See also https://github.com/numpy/numpy/blob/d9b1e32cb8ef90d6

[2019-12-04 14:50] dizcza commented on #265
Hello @jmbudd
I added the flag `scaleopt` in the function. If you pass `scaleopt='coeff'`, it works the same as your numpy example. Feel free to check.

[2019-12-06 16:21] dizcza commented on #264
Hm, there are different conventions on how to normalize CCH, see https://de.mathworks.com/help/matlab/ref/xcorr.html

The current implementation follows `scaleopt='none'` strategy event though, according to the book, we should have used `scaleopt='bias'` strategy. This is strange, indeed. We even have a test that checks our CCH result with a bare `np.correlate()` without any normalization.

I've o

[2019-12-11 13:53] dizcza commented on #276
I wrote an email to Christian Borgelt, asking for versioning, a week ago. No answer yet. But I think he uses the latest version 6.28 (2017.03.24). That means the issue original author described has nothing to do with the fim.so version. I suggest you contact the man at CodeJam10 who complained about the inconsistent hashes and give him the link to this issue so that we can work through. Otherwise,

[2019-12-13 13:28] AlexVanMeegen commented on #264
Yes, I think adding a `scaleopt` flag sounds like a good solution to this. I'd argue that `scaleopt='bias'` should be the default here imho.

[2019-12-17 09:40] dizcza commented on #206
I don't fully understand the problems but it seems the issue is outdated and should be closed. We have been using python 3 in RTD for quite a long time.
Right, wrong?

[2020-01-14 17:36] JuliaSprenger opened #288 "[Bug] Instantaneous rate estimation fails for inconsistent kernel selection"
When providing a kernel on a much smaller time scale than sampling rate requested the instantaneous rate estimation will fail on numpy level with
`ValueError: zero-size array to reduction operation minimum which has no identity`

Here's a minimal failing example
[code]

I would expect this to be caught by the instantaneous rate and providing a more telling error message instead of this failing on

[2020-01-20 09:57] #206 closed

[2020-01-20 10:07] #248 closed

[2020-01-27 09:30] #265 closed

[2020-01-31 09:00] dizcza commented on #288
1. Are you sure we should raise an error in this case?
2. Is `t` in `median_index()` supposed to be sorted?
3. A median index is something undefined unless `t` is sorted. Even if it's sorted, it's still undefined for arrays with an even number of values. Can we rewrite the logic such that a median, not its index, is returned?

[2020-01-31 09:42] JuliaSprenger commented on #288
Regarding 1. Of course raising a warning instead and providing `Nan` as return value is also an option. I would argue again introducing an automacigal adjustment of the  input parameters as this makes the function less transparent.
Regarding 2 & 3 I don't know / have a strong opinion.

[2020-02-05 13:53] dizcza commented on #276
I just talked to the author of the issue and he said they don't experience the issue anymore because now they hash downloaded files (fim.so) separately and it does not break their build process anymore. Closing as not relevant (though not resolved).

The author also suggested to take a look how numpy builds cpp files, if any, on fly with pip install.

[2020-02-05 13:53] #276 closed

[2020-02-11 08:46] #272 closed

[2020-03-02 17:03] #207 closed

[2020-04-01 13:36] dizcza commented on #196
Reopen if you still encounter the issue after Alex's fix.

[2020-04-01 13:36] #196 closed

[2020-04-04 17:58] grg2rsr commented on #107
I just stumbled over this - again. And then I found my bug report from a few years ago. As it seems, it was fixed, but now I get
[code]
was this never merged into the main branch, and the bugfix got lost?

[2020-04-04 19:33] jpgill86 commented on #107
I'd love to see the ``center_kernel`` feature added as well. I put together my own workaround for using the AlphaKernel to represent EPSPs sometime ago ("``CausalAlphaKernel``", [code](https://github.com/jpgill86/neurotic/blob/b354e05906dae2c487e1e548d8c76a00922c3747/neurotic/_elephant_tools.py#L560-L609), [docs](https://neurotic.readthedocs.io/en/1.4.1/api/_elephant_tools.html#neurotic._elephant_

[2020-04-05 09:29] grg2rsr commented on #107
@jpgill86 very cool, thank you for posting this workaround

[2020-04-06 08:37] dizcza commented on #107
I'll work on the issue in conjunction with https://github.com/NeuralEnsemble/elephant/issues/288.
Firstly, I need to understand the current status of kernels in Elephant and `median_index()` function in particular.
After this, I'll include the `center_kernel` parameter in kernels.
It'll take time though.

[2020-04-09 11:07] dizcza commented on #202
This issue should be fixed in #305 and #255
If it is not, please reopen.

[2020-04-09 11:07] #202 closed

[2020-04-09 11:10] dizcza commented on #191
It's fixed in #294
Now it says use twine.

[2020-04-09 11:10] #191 closed

[2020-04-09 11:22] dizcza commented on #122
It seems like we stick to passing integers (already rescaled to the binsize by a user) in `window` and this issue should have been closed.
I'll keep it open for a week for the feedback if any.

[2020-04-14 09:47] #122 closed

[2020-04-16 06:02] tasbolat1 opened #309 "2D dimension spike train dissmillarity cannot be calculated directly"
Hello elephant community,

I have been trying to compute spike train dissimilarity using VP and VR distances for 2D data (in my case $156 \times 325$, 325 is time dimension, 156 is spatial dimension), but it always gives me error saying that it cannot broadcast. is it possible to compute the spike train dissimilarities for 2d or higher dimensions?

Thanks in advance

[2020-04-16 07:01] mdenker commented on #309
Hi, I'm not sure I fully understand what is meant by VP and VR on 2-D data.

The current implementation take in lists of Neo `Spiketrain` objects, which contain the spike times of individual neurons, independent of spatial locations (https://elephant.readthedocs.io/en/latest/reference/spike_train_dissimilarity.html).

When you say 2D data, are you referring to a 0/1 matrix of (time x neuronID)? In

[2020-04-16 07:04] mdenker opened #310 "[Feature] Add `to_spiketrain_list()` to `BinnedSpiketrain` object"
**Feature**
Currently, the conversion module can convert `Spiketrain` to a matrix, but the reverse conversion is not possible. Needed would be a member function `to_spiketrain_list()`.

**Motivation**
See #309

[2020-04-16 11:47] tasbolat1 commented on #309
@mdenker thanks for promt reply,
I meant VP -  Victor–Purpura and VR - van Rossum distances. Let me clarify my problem in more detail. I have two spike trains X1 and X2. Both consist of 156 neurons and it's defined by `neo.Spiketrain(.)`. The problem is that I can only calculate distances between neurons, but I want to measure distance between `X1` and `X2`. So, basically, the times argument of `n

[2020-04-16 12:06] mdenker commented on #309
So, to understand correctly, `X1` is a Neo `Spiketrain` object, but `X.times` is a 2D matrix, where dimension one goes through spike times and dimension 2 through 156 neurons?

As an example, if neuron 1 spikes at 1 ms and 5 ms and neuron 2 spikes at 6 ms and 10 ms, the `.times` matrix would look like the following?
[code]

If this is the case, the problem is that there should be exactly one `Spik

[2020-04-17 12:43] dizcza commented on #310
We have `lst_input` property of a BinnedSpikeTrain that stores the input spike train, so `to_spiketrain_list()` function should be just `.spiketrains` property.
I agree with renaming `lst_input` -> `spiketrains`. I never noticed how the input spiketrains are stored. Whatever reasons there were to call it like this, the name is surely misleading.
I'll fix it gracefully.

[2020-04-17 12:45] JuliaSprenger commented on #309
I agree with @mdenker, that the times of a spiketrain should be a 1d vector for exactly the reasons you listed. Unfortunately, this was not strictly enforced by `neo` yet, but will (hopefully) be changed soon (https://github.com/NeuralEnsemble/python-neo/pull/802). @tasbolat1 Does this clarify the issue?

[2020-04-17 12:46] dizcza commented on #309
@tasbolat1 is your 2D matrix is a binary matrix of zeros and ones?

[2020-04-17 13:53] tasbolat1 commented on #309
Thanks everyone. @dizcza, @mdenker, the `times` is 2D matrix.  @JuliaSprenger, yes it clarifies everything.  Finally, I did it using add-hoc method, basically looping over each row. However, it would be useful if one can calculate spike train dissimilarities for multi-neurons.

[2020-04-17 14:21] dizcza commented on #309
Yeah, currently we support what neo supports. As soon as neo releases SpikeTrainList object that stores 2D matrix of times padded with NaNs, we start adding its support in Elephant as well. For now, the only solution is the add-hoc method that you mentioned.

If you want to speed things up, I suggest using our [parallel](https://github.com/NeuralEnsemble/elephant/tree/master/elephant/parallel) mod

[2020-04-17 14:34] mdenker commented on #309
Ok, this clarifies it. However, then the issue is more about binary spike trains vs spike-time representations. I will  think about #310. This would enable to do something roughly like
[code]

[2020-04-17 18:25] dizcza commented on #310
I see what you mean now. The input can be already a binned matrix. Then `.spiketrains` property is not a list of SpikeTrains. OK, let's discuss this during one of our meetings.

[2020-04-20 06:00] orena1 opened #312 "[Feautre] Add burst detection"
**Feature**

Hi, there are many different burst detection algorithms, but I did not find many python implementations, all of them are either in R or in MatLab. It would be a great addition to elephant.
See R/Matlna implementations here:
https://github.com/ellesec/burstanalysis/tree/master/Burst_detection_methods
https://github.com/kerstinlenk/NetworkWideAdaptiveBurstDetection

A good review paper

[2020-04-20 06:54] dizcza commented on #312
Thank you for the request.
We'll discuss implementing/including this. It sounds like a master thesis project for someone.

In the meantime, I found a few python repositories that might interest you https://github.com/search?l=Python&q=burst+detection&type=Repositories. In particular, https://github.com/neuRowsATL/burst-detection

[2020-04-20 08:00] orena1 commented on #312
Thank you @dizcza  I show https://github.com/neuRowsATL/burst-detection (it actually looks like a master thesis :), not sure it is production-ready, also as far as I see it is not very documented. I'll have a look again, thanks.

[2020-04-23 14:20] morales-gregorio opened #314 "[Deprecation warning] Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated."
Hey! I encountered the following warning:
[code]

Which is raised in the `cross_correlation_histogram` function at:

https://github.com/NeuralEnsemble/elephant/blob/d6e98f9f6132bbd834853916fefd6385841053a2/elephant/spike_train_correlation.py#L681-L682

Changing `int` -> `np.int64` fixes it.  `int` -> `np.int32` would also work.

But maybe there is something else to this I am not considering.

Chee

[2020-04-23 14:51] dizcza commented on #314
Thank you, Aitor.
I was lazy to fix it, but since you mention it, I'll come up with a fix.
Basically, I need to resolve the following mutually exclusive problems:
[code]
That's why I put int there, but sadly, it throws a warning.

[2020-04-23 15:49] #314 closed

[2020-04-23 15:50] dizcza commented on #314
Reopen if it didn't work for you

[2020-04-24 15:50] morales-gregorio commented on #314
Hey Danilo, Super quick! Thanks! It is gone :)

[2020-04-30 08:36] morales-gregorio opened #317 "[Feature] Bring all spike triggered statistics to the same category"
Right now there exists `elephant.sta` and `elephant.phase_analysis`, the latter containing one single function that is `spike_triggered_phase`.

I would suggest moving `spike_triggered_phase` into `elephant.sta`, since it feel like the right place for it. Also in the documentation `Spike triggered average` could be renamed `Spike triggered statistics` or something like that.

I am not sure if this

[2020-04-30 08:40] morales-gregorio opened #318 "[Bug] Typo in feature request template [Feautre] --> [Feature]"
Noticed there is a typo in the title of feature request templates, thought it might be useful to point it out

[2020-04-30 10:16] morales-gregorio opened #319 "[Feature] Spike triggered population response (stPR)"
**Feature**
Implementing the spike triggered population response (stPR) in elephant. This is a measure of spiketrains, given a list of simultaneously recorded spiketrains it is the measure of the spike triggered response from one spiketrain against all other spiketrains in the list. It is a sort of proxy for how locked to the population activity every individual spiketrain is. It was (as far as I

[2020-05-01 14:38] dizcza commented on #319
Hi Aitor, I see you become an engaged user of Elephant! We're currently in the middle of discussing my last PR, we'll come to your feature requests in two weeks.
Would you be interested in implementing the stPR?

[2020-05-02 12:56] morales-gregorio commented on #319
Hi Danilo!

Yes, I would implement it if nobody else has done it. Since I will most likely use this metric anyway, I will have to implement it at some point, and elephant seems the right place for it to be :)

[2020-05-11 09:01] #318 closed

[2020-05-11 18:18] #107 closed

[2020-05-11 18:18] #288 closed

[2020-05-11 18:21] dizcza commented on #107
`center_kernel` argument is now in the `instantaneous_rate()` function (True by default) in the master branch. Feel free to test it and give us feedback.

[2020-05-12 11:32] dizcza commented on #319
We have agreed on adding this feature in Elephant. It should be close to `spike_triggered_xx` functions.
Do you have the source code already? If yes, open a PR and provide either unit tests or an example you use to run the functional.

[2020-05-12 11:38] morales-gregorio commented on #319
That is cool!
I will work on the implementation, since it is still non-existent.
Will open a PR when it is ready.

[2020-05-20 08:38] morales-gregorio opened #326 "[Feature] check_consistency_of_spiketrains as utility function"
**Feature**
Move the `_check_consistency_of_spiketrainlist()` from `elephant.statistics` to `utils` or somewhere where it can be accessed by all modules.
Also make this function check for a list of length 0.

**Motivation**
@Kleinjohann noticed this could be helpful when working on PR #322, because we also wrote a very similar function in the new `spike_train_processing` module. I also noticed whi

[2020-05-20 10:20] dizcza commented on #326
Feel free to modify it in either of the abovementioned pull requests.
Usually, I do it by need. It's totally OK to slightly modify unrelated modules in a PR just to generalize the code.

The reason why I don't do this is that I don't want to touch the stuff I've not checked yet (most of elephant functional). I don't see the big picture, that's why I do it rather step by step.

[2020-06-04 09:41] dizcza opened #329 "[Bug] cannot run ASSET on binder"
In https://github.com/NeuralEnsemble/elephant/pull/327 Alex found that binder `postBuild` should be updated in order to run asset tutorial.
Also, scikit-learn should be added in the requirements-tutorials.txt

[2020-07-06 09:54] JuliaSprenger opened #334 "[Feature] Make CSD coordinates quantities"
**Feature**
Allow `ele_xx`, `ele_yy`, `ele_zz`, `x_lims`, `y_lims` and `z_lims` as function arguments of [`generate_lfp`](https://github.com/NeuralEnsemble/elephant/blob/c3fd35d478b2b05216ccb3a4e56fd67f9d1e48c6/elephant/current_source_density.py#L204) to be quantity objects.

**Motivation**
These arguments describe physical properties and should therefore for completeness also be handled with unit

[2020-07-23 10:06] Qkley opened #336 "Fano factor should check that the spiketrains in the passed list are of the same duration"
Currently, Fano factor takes the length of each spike train in the spike train list to perform the computation. The only check that is performed is that the number of spikes in each spike train is not equal to zero. In the case of spike trains that are not even in their duration, suggesting trials of varying durations, the current method would return Fano factor value that could be rather meaningl

[2020-07-23 11:29] dizcza commented on #336
In many cases, t_start and t_stop of spike trains (and their difference) are not aligned. Raising an error each time? - I'm not sure. Would it make sense to normalize the Fano factor by the spike train duration? Or any other technique that would make the Fano factor meaningful when the spike trains have different durations?

[2020-07-23 13:37] Qkley commented on #336
Off the top of my head, I could see two potential solutions. Fano factor computation could be preceded by `spiketrain.time_slice()` to ensure equal durations (i.e. `t_stop = t_start + duration`). Alternatively, binning would ensure it too.

[2020-07-24 17:05] neurorishika opened #337 "Calculating Variance Explained in GPFA analysis."
**Question**

Hey, how do I calculate the variance explained by the latent dimensions of GPFA analysis on spike trains? We need the variance explained by each of the latent dimensions.

_Please note that this issue tracker is not a help form and this issue may be closed and redirected to a more appropriate communication channel. Before asking a new question, please check our [NeuralEnsembe forum](

[2020-07-27 07:17] dizcza commented on #337
Hello Rishika,
I'm not sure if GPFA offers this: GPFA != PCA. GPFA operates with log-likelihoods, not variance.
@Junji110 could you please elaborate? Maybe I'm wrong after all.

P.S. As for the future questions, please ask them on the [NeuralEnsembe forum](https://groups.google.com/forum/#!forum/neuralensemble). We answer the questions there as frequently as they were asked on github.

[2020-07-27 09:49] dizcza commented on #334
We didn't discuss this issue yet but I think your point should be a part of a larger issue of the complete refactoring of the function. That's being done, we can allow the abovementioned parameters to be quantities.

[2020-07-27 12:36] Junji110 commented on #337
Danylo is correct.
In the GFPA framework there is no measure which is directly comparable to the explained variance in the PCA framework.
You could infer variances in which directions (in the neuron space) are represented more (or less) in the latent variables by examining `Corth` and the variances of the latent variables themselves, but they cannot be interpreted as the explained variance of the

[2020-07-27 12:52] mdenker commented on #336
The automatic method of slicing spike trains seems too much magic to me, and could lead to unexpected results. Testing the duration, however, would be a very good thing, although a warning would be better than throwing an error, preferrably something like this `Warning: Fano factor calculated for spike trains of different duration (minimum: 5.0s, maximum 5.5s).` The reason is that this way, the ex

[2020-08-05 12:59] #329 closed

[2020-08-07 08:18] #337 closed

[2020-08-28 11:37] sje30 opened #344 "Citation for elephant"
Hi,

We have been using the elephant package, and would like to cite it in a paper we are writing.  What is the best citation you'd like us to use for citing your package?  Is there an appropriate paper?

Thanks,
Stephen

cc: @as2875

[2020-08-31 10:07] mdenker commented on #344
Dear Stephen, thanks for bringing this up - we'll include a citation page in the next release (#345).

Currently, the best way to refer to Elephant is via its RRID:

which points to the [Elephant record on Scicrunch](https://scicrunch.org/resolver/scr_003833).

While a proper manuscript is currently underway, for now the best way to cite Elephant generically is
* **Denker M, Yegenoglu A, Grün S (2

[2020-08-31 12:24] #336 closed

[2020-09-01 10:26] sje30 commented on #344
super, thank you.  I will use the 2018 paper for now.

Stephen

On Mon, Aug 31 2020, Michael Denker wrote:

[2020-09-07 14:27] pbouss opened #348 "[Bug] Asset tutorial doesn't run locally"
The !wget command in the third cell of the ASSET tutorial does not work in an Apple OS. Thus, the dataset is not downloaded.

Maybe this can be changed against an OS-specific command. For iOS, this would be "curl".

[2020-09-07 15:05] dizcza commented on #348
very valid point
yes, please open a pull request followed by substituting wget by curl

[2020-09-08 17:07] Qkley opened #349 "UEA RuntimeWarning: "Divide by zero encountered in log10""
Running Unitary Events analysis occasionally results in the following warning being issued:
[code]
Handling of `p_arr` when it is equal to 0 or 1 might need to be addressed.

**To Reproduce**
[code]

[2020-09-09 15:59] dizcza commented on #348
Fixed in #350.

[2020-09-09 15:59] #348 closed

[2020-10-15 02:34] gyyang opened #360 "[Bug] instantaneous_rate estimated rates appear shifted by one time step"
Rate returned by the instantaneous_rate function appear to be (incorrectly) shifted by one time step.

**To Reproduce**
[code]
**Expected behavior**
Since the 3 spikes are centered around 0, I would expect the estimated rate to peak at t=0. However, the rate returned peak at -1 * sample_period.

**Environment**
 - OS (e.g., Linux): macOS
 - How you installed elephant (`conda`, `pip`, source): pip

[2020-10-15 10:44] dizcza commented on #360
Dear Guangyu Robert,
if you plot the outcome rate, you'll notice that the peak is squeed to the left due to the insufficient sampling rate. The solution is to increase the sampling rate (decrease the sampling period). Then the resulting instantaneous rate profile looks smooth and the peak is indeed centered at the origin.
Rerun your script with `sampling_period=2 * ms` and make sure that it's cent

[2020-10-15 16:51] gyyang commented on #360
Dear Danylo,

Thank you for your prompt reply. I agree with you that a lower ```sampling period``` can fix this problem. But isn't this still a bug? It would be difficult for the users to determine what is the appropriate sampling period. I have provided a code sample below, where times is centered at 0, and there's only a single spike at 0.

[code]

[2020-10-15 18:21] dizcza commented on #360
I see what you mean now: for specific of `sampling_peroid`s, the instantaneous rate timings are shifted by 1 `sampling_period` to the **right** -> the origin of a rate profile is shifted by 1 `sampling_period` to the right -> `rate.times[np.argmax(rate)]` points to the "wrong" time equals `-1*sampling_period`.
I put "wrong" in quotes because fixing this implies changing the logic and what we assum

[2020-10-15 23:00] gyyang commented on #360
Dear Danylo,

I'm not sure what's the reason for this shift, but my guess is that this happens when the ```kernel.sigma``` is not an integer multiple of the ```sampling_period```. May have something to do with this code

[code]

[2020-10-16 02:15] gyyang opened #361 "[Feature] Fast instantaneous_rate for many spike trains"
**Feature**
Improve instantaneous_rate to be faster when processing many spike trains

**Motivation**
It is often necessary to compute the rate of many neurons or many trials, using the same ```t_start, t_stop, sampling_period```. The current code appears rather slow for this purpose. There are many places that can be sped-up by parallelization and by not using Neo format. The following is some co

[2020-10-16 06:37] dizcza commented on #361
Is `rates` a 2d array or concatenated 1d? At first glance, it looks like 2d.
We do support a list of spike trains but the behavior is to concatenate and sort the input spike trains prior to computing the instantaneous rate. I was wondering why we don't support 2d array input - 2d array output.
Since the current behavior is to concat the arrays, we need to discuss how to implement both features - w

[2020-10-16 11:22] dizcza commented on #361
You've almost provided a solution. We've not discussed it yet but adding a default parameter `concatenate=True` and refactoring the logic a bit such that it supports both a single spiketrain and a list of spiketrains is a way to go, as for me.
Would you be willing to create a pull request for this? Let me know. Otherwise, I'll do it.

P.S. The previous issue is fixed in https://github.com/NeuralEn

[2020-10-16 14:58] gyyang commented on #361
```rates``` is a 2D array (times, units).

On my side, I don't need this feature implemented anytime soon, so please feel free to implement it whenever you see fit.

If I may take this opportunity to add some more suggestions, I suggest this code could support both neo.core.SpikeTrain and numpy arrays as inputs.

Thank you for fixing the previous issue and for the information about the workshop!

[2020-10-19 08:27] #344 closed

[2020-10-19 15:46] TRuikes opened #363 "[Feature] 'confidence interval' or 'standard deviation' to output from statistics.instantaneous_rate"
**Feature**
Add a 'confidence interval' or 'standard deviation' to output from [`statistics.instantaneous_rate`](https://github.com/NeuralEnsemble/elephant/blob/daa6f2d998b76c173aa48a61b951396e63dea86c/elephant/statistics.py#L552).

**Motivation**
When visualizing firing rates, or comparing firing rates between conditions, we often plot the mean firing rate and annotate the standard deviation with

[2020-10-21 09:04] #349 closed

[2020-10-21 09:40] dizcza commented on #363
Hello Thijs,

if I understand correctly, the scenario you have in mind is when you pass a list of spiketrains to the instantaneous rate function and expect to have an averaged instantaneous rate profile with some sort of deviation measure that describes how the rate profile differs from trial to trial.
Currently, the default behavior of the `instantaneous_rate` function when the input is a list of

[2020-10-21 12:23] TRuikes commented on #363
ooops, my fault, I thought I'd use this to average (hadn't read  the docstring properly), it makes more sense to then indeed estimate the firing rate per trial and I'll get the average+std over those (hadn't thought of that :s).
Your solution would indeed do the same thing, but I can see how that would make using the method more confusing.

[2020-10-21 16:29] dizcza commented on #363
I agree, the current behavior with a list of spiketrains is nonintuitive (averaging seems more intuitive for me as well) and I'm voting for removing it completely - then we don't need to introduce yet another confusing flag as `concatenate=False` at the cost of breaking the functionality...
But it's better to break the compatibility than have a misused API.

[2020-10-23 13:44] GuillaumeGirier opened #365 "Spike Train Dissimilarity - Question"
Hello everyone,

First, thank you for this package which is very useful!

I have an issue about the calculation of Victor Purpura Distance and Van Rossum Distance; let me explain my case (I read issues on your github but I didn't find an answer):

I have a matrix where I stock my spike trains under this form :

`np.shape(Data) = ((Number of spike trains, time value of spikes))`

So, for instance,

[2020-10-23 15:48] mdenker commented on #365
Dear Guillaume,

thanks for contacting us. I assume the main source of error is that SpikeTrain objects in Neo only hold one spike train. The reason is that in general, multiple spike trains will have different numbers of spikes (unlike your example where all have 20 spikes), and therefore a matrix representation is not possible. Instead, we typically resort to a list of spike train objects. The f

[2020-10-23 16:16] GuillaumeGirier commented on #365
Hello,

Thank you for your answer!

If I understand well, each value has to be a neo object?

Because, as you can see here, I have a matrix where there is 100 neo sub-matrice objects:
![image](https://user-images.githubusercontent.com/55884546/97027589-3c21fe00-155b-11eb-9c5c-60c017cd7c65.png)

And I have the impression that your code does the same thing. (Or maybe I am wrong?)

Thank you again,

[2020-10-23 16:22] mdenker commented on #365
Yes, the input must be a `list` of spike trains, so in fact that code you have posted looks correct. Let me look into this...

[2020-10-23 16:29] GuillaumeGirier commented on #365
Hello again,

This is my code:

`import quantities as pq
import numpy as np
from elephant.spike_train_dissimilarity import van_rossum_distance
from elephant.spike_train_dissimilarity import victor_purpura_distance
from neo.core import SpikeTrain
from random import *

def Create_ST_Reg (n, T_PLT, dt, sep_time):

    """

    Function Purpose :

        The function give a list of time array of each

[2020-10-23 16:42] mdenker commented on #365
Cool, thanks. I'll have a look and get back to you.

[2020-10-23 16:47] GuillaumeGirier commented on #365
Alright, I am in a hurry to have your comments on it!
Thank you.

[2020-10-23 16:56] mdenker commented on #365
Let me try to better understand. So, running the code with `tau=10ms`
[code]
I get
[code]
This seems to me at least plausible/consistent (e.g., spike trains 2 and 3 are close (VPD=1.5), and spike trains 0 and 1 are very far (VPD=4)).

For tau=0.0001ms, I think the kernel is just too small, this results in non-sense, indeed.

So, the problem is that the numbers are too high or too low, or not consi

[2020-10-23 17:09] GuillaumeGirier commented on #365
This is for example, for the same parameters (n = 100, t = 100 ms, len(time_spikes) = 5 spikes), what get my teacher with Matlab:
![image](https://user-images.githubusercontent.com/55884546/97033053-03862280-1563-11eb-8afb-4120f63f135d.png)
(It is only a part of the complete matrix.)
The values have more number after the comma and it is more various...

Guillaume.

[2020-10-23 17:50] mdenker commented on #365
This seems to me that the implementations of the two algorithms differ. To my understanding, the VPD as a plain value is not that telling, since it is a convoluted mixture of deletions, insertions and moves -- and tau. Most important would be that in your example, where it's only about moving spikes, the VPD values behave distance-ish, i.e., more moving, more distance (like in the example above: s

[2020-10-26 12:03] GuillaumeGirier commented on #365
Hello,

Thank you for your answer!
I will try to find a solution too.

Have a good day!

[2020-10-26 17:50] jpgill86 opened #369 "Plans to keep requirements.txt forwards-compatible with future versions of Neo?"
I was wondering if #366 indicates a policy change to how Elephant's dependency on Neo will be expressed in `requirements.txt` going forward.

Last year, in #253, I described how pinning the version of Neo to a particular major release (e.g., `neo>=0.7.1,<0.8.0` or `neo>=0.8.0,<0.9.0`) puts limitations on how other packages and projects use Neo and Elephant together. Of course, if it is known that

[2020-10-26 18:14] dizcza commented on #369
Neo is currently underlying [a large change](https://github.com/NeuralEnsemble/python-neo/pull/817). Though Elephant tests are not affected, some notebooks might fail.
The last pull request that you mentioned is a hotfix for the 2nd Elephant User Workshop that will happen soon. After the workshop, we'll probably continue bounding from above though I don't like it very much either. We do need to be

[2020-10-27 05:19] jpgill86 commented on #369
I see. I had not been tracking those major changes coming to Neo. It makes sense to guard against future compatibility issues if they seem likely to affect Elephant.

Reproducibility is certainly very important. It seems that the pinning is intended to guarantee reproducibility for users who only cite the version of Elephant they used, without also explicitly citing their version of Neo. This stri

[2020-10-27 05:19] #369 closed

[2020-11-02 10:46] #360 closed

[2020-11-02 10:59] dizcza opened #374 "[Bug] instantaneous_rate outputs a signal of one point less length"
Originally found the bug in #362

[code]

![sampling_period-445](https://user-images.githubusercontent.com/7688337/97860579-a9bfee00-1d02-11eb-8df1-73bab3105c60.png)

On the plot above, the green stripes denote `rate.times`, which lacks one point before the t_stop.

[2020-11-03 15:10] dizcza commented on #363
Now the output is a 2d matrix in case of multiple input spike trains.
So you can use `.mean()` and `.std()` methods directly.

[2020-11-03 15:10] #363 closed

[2020-11-03 15:17] dizcza commented on #361
Done.

The speedup we gained is x25..30, and the extra x2 comes from the fact you're not using quantities. I'll consider support for numpy arrays for "advanced" users that can deal with units on their own.

Thank you for the link to np.histogram benchmarks - we use this function in several places in Elephant, and it makes sense to optimize all of them at once. I'll look into this separately.

[2020-11-03 15:17] #361 closed

[2020-11-03 15:19] dizcza commented on #326
It's actually moved to utils in one of the pull requests that I don't recall.
I find it indeed useful.

[2020-11-03 15:19] #326 closed

[2020-11-09 16:36] rgutzen opened #381 "[Bug] out-of-bounds error for spike_triggered_phase of sliced signals"
**Describe the bug**
When slicing an analogsignal there might be a gap between the last sample point and `t_stop` from as much as 1/sampling_rate.
In the `spike_triggered_phase()` function, spike times are related to the nearest sample point in the analogsignal. When a spike, however, falls into the gap between the last sample point and `t_stop` it might be rounded so that the function tries to ge

[2020-11-09 16:55] dizcza commented on #381
Such a fix indicates the wrong logic in the first place.

I'm wondering why we do the rounding... it looks wrong. Shouldn't be there something similar to what we're doing in binning https://github.com/NeuralEnsemble/elephant/blob/a6a085466f1d821cb9ef83c34db05a0f32e8f166/elephant/conversion.py#L822-L830?

[2020-11-11 09:46] #381 closed

[2020-11-18 11:43] jpgill86 opened #384 "[Bug] zscore(..., inplace=True) does not change the units of the original signal to dimensionless"
If `inplace=True`, the returned signal has dimensionless units, but the modified in-place signal has the original units.

[2020-11-18 12:00] rgutzen commented on #384
The problem seems to arise in this line:
[code]
which is just a link to the asig object when `inplace` is True. However, the removal of the units is only done on the newly created asig object `sig_dimless`.
So, just adding the line
[code]
would fix the behavior.

[2020-11-18 12:05] dizcza commented on #384
At the first glance, I also thought about this. But we cannot change the units of an analog signal:
[code]

[2020-11-18 12:30] jpgill86 commented on #384
This seems to be a way to forcibly overwrite a Quantity's units, but I haven't checked whether it breaks anything:
[code]

[2020-11-18 12:33] dizcza commented on #384
Let's ask @apdavison what he thinks about modifying the units of an analog signal in-place.

[2020-12-07 08:57] dizcza commented on #8
Obsolete.
If a function is needed, a dedicated issue should be opened.

[2020-12-07 08:57] #8 closed

[2020-12-07 08:59] dizcza commented on #10
We provide the versions as `scipy>=X.Y.Z` but this does not mean all X.Y.Z will work because it might clash with the requirement of another package. Therefore, the solution to this issue requires building a dependency tree, which, of course, is something we as the developers won't do.

[2020-12-07 08:59] #10 closed

[2020-12-07 09:05] dizcza commented on #41
Need to look in CircleCI default unittest benchmark, if any.

[2020-12-07 09:12] mdenker commented on #148
Decision was made during the docathons that we agree with always putting all imports into the examples. Doc guidelines will be updated accordingly.

[2020-12-07 09:12] #148 closed

[2020-12-07 09:18] dizcza commented on #163
Integrated in the mentioned pull reques,t however, we stripped off Cython.

[2020-12-07 09:18] #163 closed

[2020-12-07 09:32] dizcza commented on #208
We should always rescale to the spiketrains or analog signals - data objects that are the most memory consuming in the arguments list. Otherwise, we run into the overhead of rescaling quantities, which is non-negligible.

[2020-12-07 09:32] #208 closed

[2020-12-09 08:29] #310 closed

[2020-12-09 08:30] #242 closed

[2020-12-10 17:22] dizcza commented on #309
`BinnedSpikeTrain.to_spike_trains()` feature request (make sense when your input data is a binned 2D matrix) is implemented in #390
Feel welcome to try out Michael's suggestion and share the feedback/bugs in a new issue.
Thanks.

[2020-12-10 17:22] #309 closed

[2021-02-24 13:20] dizcza commented on #384
@samuelgarcia maybe Samuel has an opinion?

[2021-03-04 17:05] #186 closed

[2021-03-11 14:18] sanjayankur31 opened #408 "[Feature] Move away from using deprecated nose for testing"
**Feature**
nose is deprecated, so it'll be good to move to another testing tool, perhaps py.test.

**Motivation**
nose is deprecated upstream (the last commit was in 2016.) and is also being deprecated in Fedora.

https://github.com/nose-devs/nose/commits/master

It is still in use here, though: in the CI script (and it's listed in the requirements file also).

https://github.com/NeuralEnsemble/e

[2021-03-11 14:25] sanjayankur31 opened #409 "[Bug] Failing test: elephant/test/test_conversion.py::BinnedSpikeTrainTestCase::test_repr"
**Describe the bug**
While building 0.10.0 on Fedora, we're seeing a test fail: `elephant/test/test_conversion.py::BinnedSpikeTrainTestCase::test_repr`

**To Reproduce**
1. Build elephant
2. Run `pytest` to run tests

We get this:

[code]

**Expected behavior**
All tests should pass

**Environment**
 - OS (e.g., Linux): Fedora rawhide (development/35)
 - How you installed elephant (`conda`, `pip`,

[2021-03-11 15:07] sanjayankur31 opened #410 "[Bug] Test failure on armv7hl: UETestCase.test__UE_surrogate"
**Describe the bug**
While updating to 0.10.0 in Fedora, on the 32 bit builders (armv7hl), this test fails:

**To Reproduce**
1.  run tests on 32 bit (armv7hl) system
2.

This is the error we see:

[code]

**Expected behavior**
Not sure tbh.

**Environment**
 - OS (e.g., Linux): Fedora Linux (rawhide/development/35)
 - How you installed elephant (`conda`, `pip`, source): source
 - Python version:

[2021-03-11 16:24] mdenker commented on #408
Dear sanjayankur31,
thanks for your feedback, that's indeed a very good suggestion to take up.

[2021-03-11 16:44] mdenker commented on #409
Thanks for the report!
I could reproduce the issue using both `pytest` and `nosetest` locally, will investigate what happened to the units.

[2021-04-13 18:54] myagmur01 opened #415 "[Doc] Spike Extraction parameters"
Hi @mdenker

I am using elephant.spike_train_generation.spike_extraction function for my MEA 96-channel signal.
I have following questions:

1. Why default values are selected as [-2ms, 4ms]

2. What is exactly the `time_interval` here?
When I set it to [-10 ms,10 ms] or [0 ms, 10 ms] or [5 ms,15 ms] I get the same results of spike times as below. Could you explain me if I am doing something wrong

[2021-04-14 20:47] mdenker commented on #415
Hi @mytrjp ,

both questions relate to the spike waveforms which are extracted from the signal, i,e., the cutout of the signal around each spike.

The `time_interval` specifies the cut-out interval around each spike. -2 and 4 is of course somewhat arbitrary, however, many spike sorting tools choose values in this range: the spike is about 1-2 ms in length, and then you take a bit before the spike

[2021-05-17 08:05] #408 closed

[2021-05-17 13:52] SimonRenner opened #420 "[Bug]"
**Multiplication of `np.empty` in `icsd.py` can cause FloatingPointError**
Depending on computations run before, using `current_source_density.estimate_csd` can cause a FloatingPointError:
[code]
To my understanding, the error is triggered when the initialization of the Vaknin lfp in `current_source_density_src.icsd.py` produces an array that contains NaN's:
[code]
Based on my understanding of `np

[2021-05-17 14:30] mdenker commented on #420
Hi Simon, thank you so much for your very detailed report and suggested fix -- we'll have a closer look, but at first glance seems very reasonable (and probably even faster).

[2021-05-21 14:11] mdenker commented on #409
Fixed by #418

[2021-05-21 14:11] #409 closed

[2021-05-21 14:29] mdenker opened #422 "[Bug] Update unit test runners"
Update call to unit test runners across all modules according to #403

[2021-05-21 14:49] mdenker opened #423 "[Feature] Include a datalad centric way of downloading validation data files"
**Feature**
Recently Neo moved towards github actions to carry out those unit tests taking in gin data using datalad. This is an approach to consider in our efforts to increase validation testing:

- Run unit tests based on datasets only for certain commits (e.g., PRs)
- Efficient download and caching of the datasets.

For details, see github actions defines in python-neo.

[2021-05-26 10:09] SimonRenner opened #424 "[Bug] estimate csd loses t_start information for iCSD methods"
**Description**
`estimate_csd` always returns an `AnalogSignal` object with `t_start=0` for iCSD methods.

**To Reproduce**
[code]

**Proposed fix**
The root seems to be in l.188 of `current_source_density.py`:
[code]
which, does not use `t_start` from the input (kernel methods do not have the issue because they do not redefine the input lfp).
Adding `t_start=lfp.t_start` in l.188 should fix the p

[2021-05-27 06:53] mdenker commented on #424
Hi Simon, thanks for the report, will have a look!

[2021-08-07 15:00] sanjayankur31 opened #428 "[Bug] ImportError: cannot import name 'fake_neo' from 'neo.test.generate_datasets'"
**Describe the bug**
After updating Neo to the latest release in Fedora, we're seeing builds failing with this error: `ImportError: cannot import name 'fake_neo' from 'neo.test.generate_datasets'`. I can't find `fake_neo` in `neo.test.generate_datasets` here, so maybe it was removed?

https://github.com/NeuralEnsemble/python-neo/blob/aec6832292b538c54d71622fe1a1ba6469d64687/neo/test/generate_datas

[2021-08-23 12:05] apdavison commented on #428
We had various problems with the `fake_neo` function, so it was removed and replaced with various functions you can find in https://github.com/NeuralEnsemble/python-neo/blob/master/neo/test/generate_datasets.py

[2021-08-30 09:27] mdenker opened #431 "[Bug] Neo 0.10.0 SpiketrainList objects may not pass type checks"
**Describe the bug**
Some elephant functions check if an input is indeed a list of `neo.SpikeTrain` objects. With Neo 0.10.0, container objects such as `Segement` store lists of spiketrains as `SpikeTrainList` objects, and therefore users may pass such an object instead of a proper list. The error will be difficult to spot, therefore functions should make proper checks for lists of spike trains or

[2021-08-31 20:13] sanjayankur31 commented on #428
`Unit` and `ChannelIndex` have also been deprecated, so they'll have to be removed from tests too.

[2021-09-01 14:00] mdenker commented on #428
Thanks for the report. We're currently working on the Neo 0.10 adaptation and replacing the outdated `fake_neo`s, there are also a few subtle things outside the tests that require fixing.

[2021-09-01 14:59] sanjayankur31 commented on #428
Thanks very much. Please do let me know if there's any testing etc. that I can help with.

[2021-09-13 08:12] #214 closed

[2021-09-13 08:12] mdenker commented on #214
SPADE is now provided with precompile C code as pip wheel.

[2021-09-13 08:18] #420 closed

[2021-11-09 15:46] essink opened #435 "[Bug] UE tutorial uses deprecated neo-IO"
**Describe the bug**
In the tutorial 'The Unitary Events Analysis' the data is loaded via the `neo.io.NeoHdf5IO`. Apparently the IO was removed from neo with the release of 0.10.0 (see [Neo Release notes 0.10.0](https://neo.readthedocs.io/en/stable/releases/0.10.0.html)).

**To Reproduce**
1. Clean install according to [Elephant Docs](https://elephant.readthedocs.io/en/latest/install.html)
2. Try

[2021-11-10 08:22] Moritz-Alexander-Kern commented on #435
Hi Simon, thanks for your detailed report, we will look into it!

[2021-11-22 07:49] Moritz-Alexander-Kern commented on #435
Hi Simon,
the data is now available as .nix format.
From now on the tutorial will use the `neo.io.NixIO`.

Check the updated version of the tutorial here:

https://elephant-docs-development.readthedocs.io/en/fix-ue-tutorial-uses-deprecated-neo-io/tutorials/unitary_event_analysis.html

[2021-11-23 08:36] #424 closed

[2021-11-26 15:58] mdenker opened #439 "[Bug] Documentation of SPADE module requires more details"
**Describe the bug**
The SPADE documentation requires more details on how to run the SPADE analysis, in particular the pattern filtering functions. Given the speed-optimized SPADE code, these should then also enter the corresponding tutorial.

[2021-11-26 16:04] mdenker commented on #439
@stellalessandra Would you be willing to help out in improvements to the docs for SPADE?

[2021-11-28 09:16] asenicos commented on #435
I tried this new code, it still produce error message:
`io = neo.io.NixIO("./dataset-1.nix")`
RuntimeError: Cannot open file for writing. Incompatible version.

I have this version of Neo: lib\site-packages\neo-0.11.0.dev0-py3.8.egg (0.11.0.dev0)

[2021-11-29 09:44] mdenker commented on #247
This is the website to compute a reference implementation: https://www.neuralengine.org/res/kernel.html

[2021-11-29 11:45] Moritz-Alexander-Kern commented on #435
Hi asenicos,
thank you for reporting this issue.

I do not manage to reproduce this RuntimeError with this setup:

Package | Version
----------- | -----------
`elephant` | 0.10.0
`neo` | 0.11.0.dev0
`nixio` | 1.5.0b3
---

Let's narrow down the problem:

1. Which version of  `nixio` do you use? (for version: >1.5.0b3 I can reproduce the error)

2. This error could also be related to a faulty datase

[2021-11-29 15:11] mdenker commented on #435
I think this could well be due to nixio, I think this has been going through a number of changes since beta 3. @Moritz-Alexander-Kern Perhaps, one approach could be to try converting to nixio 1.5.0 -- with a bit of luck 1.5.0b3 can read this data. As far as I can see there are no neo-related changes in the 0.11 development version that would pose a problem.

[2021-11-29 16:20] asenicos commented on #435
When I run the tutorial with correctly loaded dataset I still unable to produce plots with next error:
`plot_ue(spiketrains, UE, significance_level=0.05)`
_NameError: name 'plot_ue' is not defined_

[2021-11-30 09:15] Moritz-Alexander-Kern commented on #435
Unfortunately I couldn't get this approach to work @mdenker . As soon as I switch to nixio >=1.5.0 the resulting file-size differs significantly.

Apparently with version 1.5. breaking changes were introduced, see here: ( [https://nixpy.readthedocs.io/en/latest/news.html](https://nixpy.readthedocs.io/en/latest/news.html)).

Supposedly old files can still be opened for reading but not for writing.

[2021-11-30 15:46] asenicos commented on #435
_plot_ue is defined in the third cell of the notebook, make sure to run this cell._
Hm, I just realize there is no 3rd cell in this tutorial - no in main version, and no in updated version. Is it only for me (browser issue?) Could you please copy-paste third cell of code here?

[2021-11-30 17:57] Moritz-Alexander-Kern commented on #435
The plot function (plot_ue) is not visible in the documentation (executed version), but you can find it here :[ elephant/doc/tutorials/unitary_event_analysis.ipynb ](https://github.com/NeuralEnsemble/elephant/blob/master/doc/tutorials/unitary_event_analysis.ipynb).

Try link above, it seems there is still something wrong with the plot function.

[2021-12-01 15:48] Moritz-Alexander-Kern commented on #139
seems to be fixed:

[code]
outputs:
`[((1, 2, 3), 2)]`
`[((6, 4, 5), 1), ((3, 1, 2), 2)]
`

[2021-12-01 15:48] #139 closed

[2021-12-01 18:25] asenicos commented on #435
OK, finally I was able to reproduce the tutorial. Seems I forgot to import some libs before. Thanks for the help!

[2021-12-07 13:05] #422 closed

[2021-12-17 10:09] #384 closed

[2021-12-24 20:36] Sary789 opened #442 "Elephant GPFA not running"
**Questions and Help**

Hello, I am trying to run the tutorial on GPFA on my jupyter notebook, but it seems I cannot import GPFA because when I type "from elephant.gpfa import GPFA" I keep receiving the following error: "cannot import name 'float_factorial' from 'scipy._lib._util' (../opt/anaconda3/lib/python3.7/site-packages/scipy/_lib/_util.py). Does anyone know how I can solve this? Any suggest

[2022-01-03 09:20] Moritz-Alexander-Kern commented on #442
Hello Sary789,
thank you for reporting this.

Looking at the error message, this seems to be related to scipy.
Unfortunately I wasn't able to reproduce this behavior with the following setup:

**Environment**

-  OS: Linux
-   Python version: 3.8.10
-   neo  version: 0.10.0
-   elephant  version: 0.10.0
-  scipy version: 1.6.3

**Expected behavior**
The following error:
_"cannot import name 'float

[2022-01-15 01:04] Peyman7 opened #443 "[Bug] CAD output is not the same as original MATLAB Version"
**Describe the bug**
CAD cell assembly detection method output is not the same as the original MATLAB version provided by the article's author. I have checked the source codes, and found the parameter alpha in the "    # testing for higher order assemblies" part gives the wrong value as it should take the original alpha=0.05 in the right side.
alpha = alpha / float(len(w2_to_test) * n_as * (2 * ma

[2022-01-31 08:58] morales-gregorio commented on #431
Hi! I can confrm @ackurth and I run into this problem when trying to use `elephant.conversion.BinnedSpikeTrain()`, would just avoiding the error already fix the issue or does the spiketrainlist also need special handling?

Best,
Aitor

[2022-02-21 11:34] Kleinjohann opened #455 "Error in instantaneous rate when passing a 1-dimensional kernel sigma [Bug]"
**Describe the bug**
When passing a more than 0-dimensional `sigma` in the generation of a kernel and using said kernel to calculate the instantaneous firing rate an error is raised somewhere in `fftconvolve`.

**To Reproduce**
[code]
returns
[code]
I tracked this down to https://github.com/NeuralEnsemble/elephant/blob/d0d39206a5a2bff0d57d365a63a30e402dbc597d/elephant/statistics.py#L852
where `t_a

[2022-02-23 13:19] Moritz-Alexander-Kern commented on #455
Thanks for reporting this.
I get the same error.

We will look into this, currently `elephant.statistics.instantaneous_rate` is undergoing changes with PR #458 in relation to #374.

[2022-03-02 11:06] Moritz-Alexander-Kern commented on #317
I agree, the current state of this structure leaves room for improvement. Thanks for pointing this out.
#### `sta.py`
It seems the module `sta.py` originally contained only the `spike_triggered_average` function, hence the naming(?).
More general it contains analysis methods with _analog signals_ and _spiketrains_, maybe this could be used as a guiding principle for this module, i.e. `sta.py` cont

[2022-03-14 07:08] #431 closed

[2022-03-14 07:09] #428 closed

[2022-03-14 17:17] essink opened #461 "[Bug] optimal_kernel_bandwidth yields extremely large kernel widths"
**Describe the bug**
The estimation of the instantaneous_rate with `kernel="auto"` of a very long spiketrain (~650 s) yielded a very smooth and flat rate. It was tracked down to the estimation of the optimal_kernel_bandwidth (the width of the Gaussian kernel, fixed for the whole duration), which yielded a bandwidth of ~22 s for spiketrain with a rather low firing rate.

After some investigation, i

[2022-03-15 10:01] Moritz-Alexander-Kern commented on #461
Thank you for reporting this and your effort to contribute to elephant.

I have extended your minimal example to illustrate the issue in connection with `elephant.statistics.instantaneous_rate`.

[code]
[code]
[code]
[code]
[code]
[code]
[code]
Figure 1:
![Figure_1](https://user-images.githubusercontent.com/92092328/158348236-8ca10da3-0b31-4521-aac5-8ee05e392711.png)

[code]
Figure 2:
![Figure_2](

[2022-03-15 10:19] essink commented on #461
Hi Moritz,

thanks for having a look at it so quickly! Just to clarify a few points:

1. What an *expected* or *reasonable* bandwidth should be, is a very valid question and I don't have a proper answer to that.
2. I would consider a 500 ms kernel bandwidth still as quite large.
3. The PR #462 does not solve the issue yet! It was just created while trying to solve it. (The hard-coded number of bin

[2022-03-21 09:46] kohlerca opened #464 "discretise_spiketimes behavior and documentation"
Hi everyone,

I noticed that the new `discretise_spiketimes` function (PR #454) replaces the generated `SpikeTrain` annotations `dict` with a reference to the `dict` in the original `SpikeTrain`, after the duplication with new data (line 1310). This will make any changes to the annotations in the original `SpikeTrain` to also change the annotations in the generated `SpikeTrain`, and vice-versa.

A

[2022-03-23 23:12] Kleinjohann commented on #464
Hi @kohlerca, thanks for noticing this! The referenced annotations are a bug, that was not intended.

Should the usage example go into the docstring of the module or into the docstring of the function itself?

[2022-03-24 07:46] Moritz-Alexander-Kern commented on #464
Hi,
thanks for taking care of this @kohlerca and @Kleinjohann .

I would prefer to have the usage example in **the docstring of the function itself.**
This will avoid clutter and overloaded docstrings for modules containing many functions in the future. Further I assume this is the place one would expect a usage example.

[2022-04-07 11:43] heplesser opened #469 "pip install fails on macOS 12.3"
**Describe the bug**
Pip-installing Elephant fails with a compiler error under macOS 12.3

**To Reproduce**
1.  Create conda environment from https://github.com/nest/nest-simulator/blob/master/environment.yml
2. Activate environment
3. `pip install quantities neo`
4. `pip install elephant`

This leads to a compiler failure, see attached log [elephant_pip_error.txt](https://github.com/NeuralEnsembl

[2022-04-07 15:52] mdenker commented on #469
Thanks, @heplesser, indeed the mac build seems problematic due to compiler incompatibilities, We will likely deprecate the building of this module for the current elephant release, such that only the Python-fallback is available for now. The installation breaking for mac is an unintentional bug,  @Moritz-Alexander-Kern I suggest to disable mac installs for now in `setup.py` and consider setting up

[2022-04-11 16:32] sanjayankur31 opened #470 "[Feature] Remove scipy version cap"
**Feature**

Would it be possible to remove the scipy version cap in requirements please? It's capped to `<1.7` but the current scipy release is now `1.8`, so that's quite old. We don't ship 1.7 in Fedora any more, for example, and the cap means it makes it hard to ship elephant too.

https://pypi.org/project/scipy/
https://packages.fedoraproject.org/pkgs/scipy/python3-scipy/

**Motivation**

I em

[2022-04-11 17:01] sanjayankur31 opened #471 "[Feature] Update bundled fim to latest version (and unbundle?)"
**Feature**

The version of fim bundled in the sources is 0.4.x, but the latest version of fim is now at 6.x. Would it be possible to please:

- use the version of fim on pypi (which removes the need to bundle it): https://pypi.org/project/pyfim/
- or if bundling is necessary, could we please update the bundled copy to keep it in sync with upstream fim releases (otherwise we're going to be using a

[2022-04-12 16:07] Moritz-Alexander-Kern commented on #470
Hi, thanks for pointing this out.
This was introduced here: https://github.com/NeuralEnsemble/elephant/pull/419/commits/1d295504f56183b96137554230c3ec0afb6b6006
PR #473 removes the version cap.

[2022-04-14 09:15] mdenker commented on #471
Hi @sanjayankur31, thanks for your input. Indeed, having `pyfim` available on pypi now is extremely useful. However, in this case, the situation is a little different.

In prior versions (<0.11.0), Elephant indeed used `pyfim` and relied on having the binary`fim.so` available (e.g., from the author's web page). However, in the current version, we have had contributions to optimize the `fpgrowth` a

[2022-04-14 13:10] Moritz-Alexander-Kern commented on #442
We are closing this now, but feel free to contact if the problem persists.

[2022-04-14 13:10] #442 closed

[2022-04-14 14:01] #470 closed

[2022-04-14 14:56] #464 closed

[2022-04-20 07:00] mdenker commented on #471
Hi @sanjayankur31, if the C++ extension poses problems, please let us know. In the worst case, it's possible to skip building of the module, which will however result in a much slower Python-only fall-back. We'll check if we can speed this fallback up for the upcoming release by using the "regular" `pyfim` package.

I will leave this issue open until this is investigated and to report back the out

[2022-04-20 15:57] sanjayankur31 commented on #471
The C++ extension builds fine, so I'm using that for the Fedora build now. The compilation would error out using the default compilation flags used in `setup.py` here on GCC 12, but with the default Fedora build flags, it builds fine. So, I'm just carrying this tiny downstream patch:

https://github.com/sanjayankur31/elephant/commit/9e38be2effa193c32a5cf44601f51612c15137f1

Here is the compilation

[2022-04-20 16:17] sanjayankur31 opened #479 "[Bug] Tests failing on aarch64: `test_welch_psd_multidim_input`, `test_welch_cohere_multidim_input`"
**Describe the bug**

When building 0.11.0 for Fedora, these two tests fail on aarch64

**To Reproduce**
1. Buiild and run pytest on an aarch64 system
2.

**Expected behavior**

Tests should pass

**Environment**
 - OS (e.g., Linux): Fedora Linux (rawhide, 37)
 - How you installed elephant (`conda`, `pip`, source): From source
 - Python version: 3.10
 - `neo` python package version:  0.10.2
 - `el

[2022-04-21 14:36] Moritz-Alexander-Kern commented on #479
Hey,
thanks for reporting this @sanjayankur31.

We will look into this in connection with issue #410 , since both issues are based on an execution on a different architecture.
So far, neither architecture has been the focus of our attention during elephant development, but we consider taking this into account for the future.

[2022-04-21 16:40] sanjayankur31 commented on #479
Thanks very much. Please do let me know if I can help in any way. I guess it's also OK for elephant to not support these arches if the dev team does not want to target them, just as long as this is noted somewhere so that users are aware.

[2022-04-22 16:21] kohlerca opened #481 "[Bug] GPU-accelerated ASSET tries to use a backend that is not present in the environment"
Hello everyone!

I configured an environment to run ASSET using CUDA.

I tried to test it using the CPU first, by disabling the environment flag. The script fails because it tries to use OpenCL. However, OpenCL is not even present in the environment.

Looking into the code in `asset.py`, it seems that when getting the backend in the `_choose_backend` method, the existence of a valid backend is con

[2022-04-25 12:09] Moritz-Alexander-Kern commented on #481
Hey @kohlerca ,

thanks for reporting this, I get the same output.

I agree, this seems to have originated in `_choose_backend`
https://github.com/NeuralEnsemble/elephant/blob/7f2a01cc50e36acdfc276cf359c430e9621de43d/elephant/asset/asset.py#L509-L520

The inline comments seem to indicate that the default behavior should be as you describe, but it seems to be implemented differently:

`use_opencl =

[2022-04-27 05:58] #365 closed

[2022-04-27 09:59] sanjayankur31 opened #484 "CNS*2022 satellite tutorial on Elephant"
Hi everyone,

The INCF/OCNS Software WG is organising a set of free online satellite tutorials ahead of CNS*2022 in the week of June 27--July 1.

Given how useful Elephant is, I was wondering what you thought of doing a session on Elephant too? (There's one planned on Neo/NWB also)

You can see the currently planned sessions etc here:

https://github.com/OCNS/SoftwareWG/milestone/3

The announceme

[2022-05-11 10:03] sanjayankur31 commented on #484
Hello,

We're asking everyone for confirmation now---could you please confirm if you'd like to do a tutorial?

Thanks very much,

[2022-05-11 10:18] mdenker commented on #484
Hi sanjayankur31,
thanks for pointing us there. We'd be very happy to contribute an Elephant tutorial for this event, which could range from a short demo to a full run-through of a combined Neo/Elephant analysis of a specific dataset. I've seen there is also a Neo proposal, so possibly, one could also combine the two given they are very close, and we have material covering both.

[2022-05-11 10:21] mdenker commented on #484
Sadly, when asking around, I did not find someone who would be present do the tutorial also on-site, in case that is planned as an option.

[2022-05-11 10:29] mdenker commented on #484
In case a mini abstract is useful, this would be roughly what we would have in mind -- depending on the length of the session:
[code]

[2022-05-11 10:59] sanjayankur31 commented on #484
Thanks very much.

Yes, there's a neo session planned too. Would it be possible for you to speak to @apdavison and @appukuttan-shailesh to see if you'd like to combine the elephant and neo/nwb session into one? If they're quite different, they can just be two different sessions---no problems there either.

In general, we think we will have three categories of sessions:

- short: 1.5--2 hours
- "ha

[2022-05-11 11:23] mdenker commented on #484
Great, thanks for the info. I assume, we'll be aiming for something between 2h and 3h slot, which in the past has been a good time frame. I'll get in touch with apdavison and provide you with the required info.

[2022-05-11 12:46] Moritz-Alexander-Kern commented on #443
you've pointed to line:
https://github.com/NeuralEnsemble/elephant/blob/6ed3cb3089783035885e2fbec1fff535df7369cd/elephant/cell_assembly_detection.py#L363

another change to alpha seems to occur here:
https://github.com/NeuralEnsemble/elephant/blob/6ed3cb3089783035885e2fbec1fff535df7369cd/elephant/cell_assembly_detection.py#L255

I suggest creating a validation test based on the original MATLAB imp

[2022-06-08 13:58] Moritz-Alexander-Kern opened #493 "[Bug] IndexError in spike_train_synchrony.py, annotate_synchrofacts"
This Bug was originally discovered by @skrausse , thank you for reporting.

**Describe the bug**
When trying to use the `delete_synchrofacts` method from `Synchrotool` class in  `spike_train_synchrony.py`, in specific cases an IndexError is raised.

**To Reproduce**
1.  Install elephant and neo
2. Run the following minimal example:
[code]

Gives the following error messages: (if `np.random.seed(1)

[2022-06-08 14:09] Moritz-Alexander-Kern commented on #493
Hot-fix:
Added an if-clause, which checks if index is out of bounds, see commit: 786194c2378ad866776f74c6c510512d39177fd7
https://github.com/INM-6/elephant/tree/fix/synchrotool

In order to test if this Bug still occurs in connection with specific .nix files, the following beta release was created for further testing:

test.pypi: https://test.pypi.org/project/elephant-test/0.11.2b1/

Installation:

[2022-06-09 07:54] Moritz-Alexander-Kern commented on #484
The schedule is now online here : https://ocns.github.io/SoftwareWG/pages/software-wg-satellite-tutorials-at-cns-2022.html .

Neo + Elephant tutorial will be on Friday, 1st July 2022, 9:00 - 12:00 CEST

[2022-06-09 14:09] Kleinjohann commented on #493
Hi!
In this minimal example, the problem is actually that the spiketrains do not have a sampling rate. The `Synchrotool` assumes that the spiketrains are actually discrete and that all spike times can only be multiples of the sampling rate that is passed as a parameter. We have a utility function for discretising such artificial spiketrains, when we apply that no error is raised:
[code]

[2022-06-09 15:50] Kleinjohann commented on #493
This error can however also be caused by

1. `(t_stop - t_start) % sampling_rate != 0` which means that not the entire period of the spike train will be binned since otherwise the last bin would be incomplete
2. `st[-1] == st.t_stop` which would cause the last spike to be missed

I see multiple options for addressing this:

- add input checks asserting that `(t_stop - t_start) % sampling_rate == 0

[2022-07-07 14:16] Moritz-Alexander-Kern commented on #484
Thanks again for the invitation.

[2022-07-08 08:19] sanjayankur31 commented on #484
@Moritz-Alexander-Kern @mdenker : thanks very much for the session. I'll send out an e-mail to all tutors about how things went and what we could do to make them better if we repeat them.

Did you record the session by any chance, if yes, could you please send me the link? I'll put it on the public schedule and also try to get them all uploaded to the INCF training space.

[2022-07-08 08:31] Moritz-Alexander-Kern commented on #484
hey,
as far as i know this session was not recorded.

[2022-07-08 08:33] sanjayankur31 commented on #484
OK cool, no worries. I'll e-mail all tutors in the next few working days.

[2022-07-08 08:33] #484 closed

[2022-07-20 08:45] Moritz-Alexander-Kern commented on #410
Hey @sanjayankur31 ,

I've created a bugfix in PR #500 , please let me know if this solves the issue.

[2022-07-25 16:18] jonahpearl opened #506 "[Bug] Pip install fails on linux due to fim issue"
**Describe the bug**
After cloning the repo, `pip install -e .` fails with this error message:
[pip elephant error.txt](https://github.com/NeuralEnsemble/elephant/files/9182998/pip.elephant.error.txt)

I am using a compute cluster running Linux.

**To Reproduce**
1. Clone the repo
2. Load gcc
3. Attempt to install

**Expected behavior**
Installs without issue

**Environment**
 -Linux: 3.10.0-1160.

[2022-07-26 06:41] Moritz-Alexander-Kern commented on #506
Hi @jonahpearl ,
thanks for reporting this issue.

PR #494 implements your solution by  adding an install option:

- development  `pip install -e . --install-option='--no-compile' `
- install `pip install elephant --install-option='--no-compile' `

For the future we plan to add a list of compatible compilers and their versions to the documentation.

You could also manually download the wheel (arti

[2022-08-01 08:58] Moritz-Alexander-Kern opened #510 "[Bug] WelchPSD, WelchCohere, signal.windows.hanning removed with scipy 1.9.0"
**Describe the bug**
With release of scipy 1.9.0, `signal.windows.hanning` was removed.
See release notes: https://github.com/scipy/scipy/releases/tag/v1.9.0.

Deprecated since: 1.1.0 see: https://github.com/scipy/scipy/pull/8148

**To Reproduce**
1. install elephant
2. install scipy v1.9.0
3. run unit tests for spectral

**Environment**
 - OS (e.g., Linux): Ubuntu 20.04.4 LTS
 - How you installed

[2022-08-11 12:52] Moritz-Alexander-Kern commented on #471
This was addressed in PR #508.

See:
https://github.com/NeuralEnsemble/elephant/blob/df8e96212e121d5931bab6c9ae82e059c91ec2ad/elephant/spade_src/include/FPGrowth.h#L198

Fix will be included in v0.11.2 of elephant.

[2022-08-11 12:52] #471 closed

[2022-09-14 16:55] E4-IMN opened #516 "[Bug] Spike-width computation"
**Describe the bug**
A colleague and I realized that the _waveform_width_ function doesn't work well for recordings where the action potential is a upward deflection and then a downward one because the code looks for the trough first, then to the next peak.

![image](https://user-images.githubusercontent.com/83357119/190214275-d63432c5-aa2e-4fa4-9055-04f98a7f3aab.png)

Therefore, we would suggest

[2022-09-16 15:32] Moritz-Alexander-Kern commented on #516
Hello @E4-IMN ,

thanks a lot for reporting this.

Looking at the provided plot I agree with you.
Are you already working on an extension ?

In any case, the development of an extension to this function could benefit from some examples to reproduce the behavior  shown above. In case you have some more examples, please do not hesitate to share.

[2022-10-11 08:03] Peyman7 commented on #443
Hi,

That’s a good idea!
Regarding the original MATLAB code link, you have pointed the correct link.

Cheers,
Peyman

[2022-10-13 11:50] #455 closed

[2022-10-13 12:34] #410 closed

[2022-10-13 14:08] #506 closed

[2022-10-28 11:53] Moritz-Alexander-Kern commented on #247
# Implementations
There are 3 available implementations of this method on https://www.neuralengine.org/res/kernel.html.
- web application HTML5 based
- Matlab code (https://github.com/shimazaki/density_estimation)
- Python code, available in package "adaptivekde" (https://pypi.org/project/adaptivekde/)

# Tests
Compare the results obtained with elephant against other implementations.
## Installati

[2022-10-28 12:02] mdenker commented on #247
Thanks for working on this. For Python and Matlab, I suggest the same procedure as done for similar validations before, i.e., include a script on elephant-data to calculate the results using these tools, save them in elephant-data, and in the elephant unit tests load the results from there and compare. I don't think we should increase our dependency tree by directly installing the adaptivekde.

Fo

[2022-10-28 12:04] mdenker commented on #247
For the test, one could also think about creating stochastic data (e.g., using Poisson with varying rate) -- this would make the test independent of the Unitary Events dataset.

[2022-11-11 15:20] mdenker opened #526 "[Feature] Create module that loads example datasets"
**Feature**
Based on the `datasets` module, which handles downloading the datasets from `datasets.python-elephant.org`, one could image to have a function that is more intuitive for a user to download example datasets to play around with. For example, one could image something like:
[code]
or
[code]

[2022-11-18 17:04] rjurkus opened #528 "[Bug] Intermittently failing unit test for multitaper PSD"
**Describe the bug**

Occasionally, the `test_multitaper_psd_behavior` fails.

**To Reproduce**
1. Run the `test_spectral.py` multiple times

[code]

**Expected behavior**
The test should always pass.

**Environment**
 - OS (e.g., Linux): Ubuntu 18.04.6 LTS
 - How you installed elephant (`conda`, `pip`, source): pip, source
 - Python version: 3.7.3
 - `neo` python package version: 0.10.0
 - `eleph

[2022-11-25 10:31] #528 closed

[2022-11-28 07:51] Moritz-Alexander-Kern commented on #264
This was fixed by #277 , if not, feel free to reopen this issue.

[2022-11-28 07:51] #264 closed